<app-home-header></app-home-header>

<main class="consultation">
  <app-breadcrumb [currentPageName]="'Consultation Survey'" [previousLinkName]="'Equipping Groups'" [previousLink]="'/equipping-groups'"></app-breadcrumb>

  <section class="consultation__area pb-100 mt-30">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10">
          <div class="consultation__info">
            <app-dynamic-form [formId]="formId" [submitButtonText]="'Submit Free Consultation'"></app-dynamic-form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
