<app-home-header></app-home-header>

<main>

  <section class="blog__area pt-10 pb-100">
    <div class="container">
      <section class="slider__area slider__area-4 p-relative">
        <div class="slider-active swiper-container" #heroSliderContainer >
          <div class="swiper-wrapper">
            <div class="blog__header single-slider single-slider-2 slider__height-3 mt-10 d-flex align-items-center swiper-slide" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fblog-header.PNG?alt=media&token=059b3b4b-4882-42e5-9742-3b1e2e89d63c)'">
              <div class="row">
                <div class="col-xl-12">
                  <div class="slider__content slider__content-4 pr-50">
                    <h5 class="blog__header__pretitle">FREE ONLINE RESOURCES</h5>
                    <h1 class="blog__header__title w-50">The Disciple-Making Church Blogs</h1>
                    <hr class="slider-hr">
                    <a href="/e-books" class="os-btn os-btn-white">FREE E-BOOKS<i class="fa fa-book ml-10"></i></a>
                    <a href="/podcasts" class="os-btn os-btn-white">PODCASTS<i class="fa fa-microphone ml-10"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row mt-50">
        <div class="col-xl-3 col-lg-4">
          <app-blog-sidebar (searchEvent)="searchBlogs($event)" (tagFilterEvent)="filterBlogsByTag($event)" (clearFiltersEvent)="clearFilters()"></app-blog-sidebar>
        </div>
  
        <div class="col-xl-9 col-lg-8">
          <div class="blog__wrapper">
            <div class="row">
              <div *ngFor="let blog of filteredBlogs" class="col-xl-6 col-lg-6 col-md-6">
                <app-blog-postbox-item [blog]="blog"></app-blog-postbox-item>
              </div>
            </div>
  
            <div class="row">
              <div class="col-xl-12">
                <div class="shop-pagination-wrapper">
                  <app-pagination [data]="filteredBlogs" [paginate]="paginate" (setPage)="setPage($event)">
                  </app-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
