<app-home-header></app-home-header>

<main>

  <app-breadcrumb [currentPageName]="'Blogs'" [previousLinkName]="'Home'" [previousLinkId]="'/home'"></app-breadcrumb>

  <section class="blog__area pt-10 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <app-blog-sidebar (searchEvent)="searchBlogs($event)" (tagFilterEvent)="filterBlogsByTag($event)" (clearFiltersEvent)="clearFilters()"></app-blog-sidebar>
        </div>
  
        <div class="col-xl-9 col-lg-8">
          <div class="blog__wrapper">
            <div class="row">
              <div *ngFor="let blog of filteredBlogs" class="col-xl-6 col-lg-6 col-md-6">
                <app-blog-postbox-item [blog]="blog"></app-blog-postbox-item>
              </div>
            </div>
  
            <div class="row">
              <div class="col-xl-12">
                <div class="shop-pagination-wrapper">
                  <app-pagination [data]="filteredBlogs" [paginate]="paginate" (setPage)="setPage($event)">
                  </app-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
