@use '../../../../assets/styles/theme/scss/variables';

::ng-deep .impact-header {
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 100px;
  @media #{variables.$sm,variables.$xxs,variables.$xs}{
    padding: 0 10px;
  }
  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media #{variables.$xxs,variables.$xs,variables.$sm,variables.$md}{
      width: 100%;
    }
    @media #{variables.$lg}{
      width: 80%;
    }
    .pretitle {
      color: variables.$theme-color;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      @media #{variables.$sm,variables.$xxs,variables.$xs}{
        font-size: 12px;
        margin-bottom: 0;
      }
    }
    .title {
      font-size: 65px;
      font-weight: 600;
      color: #fff;
      line-height: 1em;
      @media #{variables.$sm,variables.$xxs,variables.$xs}{
        font-size: 33px;
      }
    }
    .description {
      color: #c0c0c0;
    }
    .buttons {
      display: flex;
      gap: 10px;
      @media #{variables.$sm,variables.$xxs,variables.$xs}{
        flex-direction: column;
      }
      a {
        @media #{variables.$sm,variables.$xxs,variables.$xs}{
          display: flex;
          width: 100%;
          max-width: 100%;
          justify-content: center;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
}