<app-home-header></app-home-header>

@if (!summit) {
  <div class="summit page-wrapper">
    <main class="grey-bg">
      <div class="summit__container container">
        <!--SUMMIT HEADER -->
        <img class="summit__header" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/DM%20SUMMIT%20WEB%20HEADER.png?alt=media&token=d702b822-7ddf-41ec-989f-e80e348e79b4" alt="Disciple-Making Summit">
      </div>
    </main>
  </div>
}
<!-- SUMMITEQUIPPING GROUPS -->
@if (summit) {
  <div class="summit page-wrapper">
    <main class="grey-bg">
      <div class="summit__container container">
        <!--SUMMIT HEADER -->
        <img class="summit__header" [src]="summit?.imageUrl?.url" [alt]="summit?.eventName || 'Disciple-Making Summit'">
        <div class="summit__register-button">
          <a  [routerLink]="['/event-details', summit?.id]" class="impact-btn">REGISTER NOW</a>
        </div>
        <!--SUMMIT INFO-->
        <section class="summit__info mb-30">
          <div class="row summit__info-container">
            <div class="col-xl-4 col-md-4 summit__info-text">
              <i class="fa-solid fa-calendar-days"></i>
              {{ summit?.startDate?.toString() | date: 'MMMM d'}} - {{ summit?.endDate.toString() | date: 'MMMM d'}}, {{ summit?.startDate.toString() | date: 'yyyy'}}
            </div>
            <div class="col-xl-4 col-md-4 summit__info-text">
              <i class="fa-solid fa-location-dot"></i>
              <a [href]="'https://www.google.com/maps/search/?api=1&query=' + (summit | venue: 'address' | async)" target="_blank">
                {{ summit | venue: 'address' | async }}
              </a>
            </div>
            <div class="col-xl-4 col-md-4 summit__info-text">
              <i class="fa-solid fa-clock"></i>
              Check-In: {{ summit?.checkIn?.toString() | timeFormat }} | Start Time: {{ summit?.startDate.toString() | date: 'h:mm a' }}
            </div>
          </div>
        </section>
        <!--SUMMIT COUNTDOWN-->
        <section class="mt-80 mb-60">
          <div class="col-xl-12">
            <div class="col-xl-12 countdown-timer mb-30">
              <div class="time-part">
                <span class="number">{{ days }}</span>
                <span class="label">DAYS</span>
              </div>
              <span class="colon">:</span>
              <div class="time-part">
                <span class="number">{{ hours }}</span>
                <span class="label">HOURS</span>
              </div>
              <span class="colon">:</span>
              <div class="time-part">
                <span class="number">{{ minutes }}</span>
                <span class="label">MINUTES</span>
              </div>
              <span class="colon">:</span>
              <div class="time-part">
                <span class="number">{{ seconds }}</span>
                <span class="label">SECONDS</span>
              </div>
            </div>
          </div>
        </section>
        <!--SUMMIT DESCRIPTION AND VIDEO-->
        <div class="banner__area-2 mb-80">
          <div class="container-fluid p-0">
            <div class="row g-0 justify-content-center">
              <div class="story__text-area col-xl-6 col-lg-6 d-flex">
                <h4 class="story__title mb-10">REGISTER FOR <strong>SUMMIT</strong></h4>
                <p>
                  From its start in 2021, the Disciple-Making Summit has had a singular mission—calling disciple-makers, leaders, and pastors across nation and around the world to come together to focus on our main purpose. Jesus told us in Matthew 28:19 to “Go and make disciples…” We are here to do just that.
                  <br>
                    <br>
                      Join the movement and come together with us for one weekend and learn more about how you can make and multiply disciples of Jesus.
                      <br>
                        <br>
                          This is a weekend for everyone – bring yourself, your small group, your youth group, your church staff – we promise that you will leave inspired and more equipped to make disciples in the coming year.
                        </p>
                      </div>
                      <div class="col-xl-5 col-lg-5 mt-80">
                        <youtube-player [videoId]="'MUPDplOSOR4'" [width]="458" [height]="224" suggestedQuality="highres" [playerVars]="{'autoplay': 0}"></youtube-player>
                      </div>
                    </div>
                  </div>
                </div>
                <!--SUMMIT COACHES-->
                <section class="mb-80">
                  <div class="row justify-content-around speakers">
                    <div class="col-lg-12">
                      <h3><strong>FEATURED SPEAKERS</strong></h3>
                      <div class="slider-container mt-10">
                        <div class="slider" [style.transform]="getTransform()">
                          @for (coach of coaches; track coach) {
                            <div class="slide teams-list__team">
                              <div class="teams-list__team-image fix">
                                <a [routerLink]="['/team-details', coach.id]" class="w-img">
                                  <img loading="lazy" class="transform" [src]="coach.photoUrl.url" [alt]="coach.firstName">
                                </a>
                              </div>
                              <div class="teams-list__content">
                                <h4><a [routerLink]="['/team-details', coach.id]">{{ coach.firstName }} {{ coach.lastName }}</a></h4>
                                <div class="teams-list__meta">
                                  <span>{{ coach.title }}</span>
                                </div>
                                @if (coach.url) {
                                  <div>
                                    <a href="{{coach.url}}" class="coach-link">Link to page</a>
                                  </div>
                                }
                              </div>
                            </div>
                          }
                        </div>
                        <button class="prev" (click)="prevSlide()">&#10094;</button>
                        <button class="next" (click)="nextSlide()">&#10095;</button>
                      </div>
                    </div>
                  </div>
                </section>
                <hr>
                  <!--SUMMIT FAQ-->
                  <section class="faq">
                    <div class="row justify-content-around mt-50">
                      <div class="col-lg-7">
                        <div class="event-details__left">
                          @if (summit?.agendaItems) {
                            <div class="your-order-table table-responsive">
                              @for (monthGroup of groupedAgendaItems; track monthGroup) {
                                <h3 class="mt-30">Agenda -<strong> {{ monthGroup.monthYear }}</strong></h3>
                                <table class="agenda">
                                  <tbody>
                                    @for (dayGroup of monthGroup.days; track dayGroup) {
                                      <tr>
                                        <div class="agenda__date">
                                          <div>{{ dayGroup.date | date: 'EEE' }}</div>
                                          <div class="agenda__date-number">{{ dayGroup.date | date: 'd' }}</div>
                                        </div>
                                        <td>
                                          @for (item of dayGroup.items; track item) {
                                            <tr class="row" class="agenda__group">
                                              @if (item.isCourse) {
                                                <td class="col-8">{{ item.course | courseName | async }}</td>
                                              }
                                              @if (!item.isCourse) {
                                                <td class="col-8">{{ item.text }}</td>
                                              }
                                              <td class="agenda__group-time col-4">{{ item.startDate | date: 'shortTime'}} - {{ item.endDate | date: 'shortTime' }}</td>
                                            </tr>
                                          }
                                        </td>
                                      </tr>
                                    }
                                  </tbody>
                                </table>
                              }
                            </div>
                          } @else {
                            <h3>Agenda</h3>
                            <div class="no-agenda mt-30">
                              Check back for more updates!
                            </div>
                          }
                        </div>
                      </div>
                      <div class="col-lg-4 justify-content-center">
                        <div class="faq__column">
                          <h3 class="faq__title"><strong>FAQs</strong></h3>
                          <hr>
                            @for (faq of summit?.faqList; track faq) {
                              <div class="faq__container">
                                <i class="fa-solid fa-angles-right faq__icon"></i>
                                <div>
                                  <strong class="faq__question">{{ faq.question }}</strong>
                                  <p class="faq__answer" [innerHTML]="faq.answer"></p>
                                </div>
                              </div>
                            }
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </main>
              </div>
            }

            <app-footer></app-footer>
