<app-home-header></app-home-header>

<main class="terms mb-80">
  <app-breadcrumb
    [currentPageName]="'Terms of Service'"
    [previousLinkName]="'Home'"
    [previousLink]="'/home'"
    [isDark]="true"
    [bgImg]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Ftos-header.PNG?alt=media&token=229807c4-6c51-44f1-89a5-4a89bde9c9f4'"
  ></app-breadcrumb>

  <div class="container mt-50" [innerHTML]="webConfig.tos">

  </div>
</main>

<app-footer></app-footer>
