<app-home-header></app-home-header>

<!-- TODO: Update to display from htmlEditor -->
<main class="terms mb-80">
  <app-breadcrumb
    [currentPageName]="'Terms of Service'"
    [previousLinkName]="'Home'"
    [previousLink]="'/home'"
    [isDark]="true"
    [bgImg]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Ftos-header.PNG?alt=media&token=a5468125-b479-4119-9ef5-3b805b8d0f44'"
  ></app-breadcrumb>

  <div class="container mt-50" [innerHTML]="webConfig.tos">

  </div>
</main>

<app-footer></app-footer>
