<app-home-header></app-home-header>

<main>
  @if (visible) {
    <div style="text-align: center; width: 98vw; padding-bottom: 25px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12 mx-auto">
            <div class="row">
              <div class="col-12">
                <div class="schedule" style="margin-top: 20px;">
                  @if (event?.agendaItems) {
                    <div class="schedule__days">
                      @for (monthGroup of fullSchedule; track monthGroup) {
                        @for (activeDay of monthGroup.days; track activeDay) {
                          @if (activeDay) {
                            <div class="schedule__day">
                              <div class="schedule__tabs-tab">
                                <div class="weekday">{{ activeDay.date | date: 'EEEE' }} {{ activeDay.date | date: 'MMM' }} {{ activeDay.date | date: 'd' }}</div>
                              </div>
                              @for (timeGroup of activeDay.timeGroups; track timeGroup) {
                                <div>
                                  @if (timeGroup.items.length > 1) {
                                    <div class="breakout" (click)="onNavigateToBreakouts(timeGroup)" (keydown.enter)="onNavigateToBreakouts(timeGroup)" (keydown.space)="onNavigateToBreakouts(timeGroup)" tabindex="0" role="button">
                                      <div class="breakout__date">
                                        <div>{{ timeGroup.items[0].item.startDate | date: 'h:mm a' }}</div>
                                        <div>{{ timeGroup.items[0].item.endDate | date: 'h:mm a' }}</div>
                                      </div>
                                      <div class="breakout__details">
                                        <div class="title">BREAKOUT SESSIONS</div>
                                        @if (!isAnyItemAssignedInGroup(timeGroup)) {
                                          <div class="subtitle">You are not currently signed up for a Breakout Session in this time slot. Click to view available sessions.</div>
                                        }
                                        @if (isAnyItemAssignedInGroup(timeGroup)) {
                                          <div>
                                            @for (breakout of timeGroup.items; track breakout) {
                                              <div>
                                                @if (breakout.isAssignedToUser) {
                                                  <div class="course">
                                                    <div class="course__title">{{ getTitle(breakout.item) }}</div>
                                                    @if (breakout.item.room) {
                                                      <div class="course__room">Room: {{ getRoomName(breakout.item.room) }}</div>
                                                    }
                                                  </div>
                                                }
                                              </div>
                                            }
                                          </div>
                                        }
                                      </div>
                                      <div class="breakout__icon">
                                        <i class="fas fa-chevron-right"></i>
                                      </div>
                                    </div>
                                  }
                                  @if (timeGroup.items.length === 1) {
                                    <div class="agenda-item">
                                      <div class="agenda-item__date">
                                        <div>{{ timeGroup.items[0].item.startDate | date: 'h:mm a' }}</div>
                                        <div>{{ timeGroup.items[0].item.endDate | date: 'h:mm a' }}</div>
                                      </div>
                                      <div class="agenda-item__details"  [ngClass]="{'main-item': !timeGroup.items[0].item.isCourse && !timeGroup.items[0].item.isFoodBreak }">
                                        @if (!timeGroup.items[0].item.isCourse) {
                                          <div class="title">{{ timeGroup.items[0].item.text }}</div>
                                        }
                                        @if (timeGroup.items[0].item.room) {
                                          <div class="room">Room: {{ getRoomName(timeGroup.items[0].item.room) }}</div>
                                        }
                                        @if (timeGroup.items[0].item.coaches && timeGroup.items[0].item.coaches.length === 1) {
                                          <div class="coach">
                                            <b>Speaker:</b> {{ getCoachName(timeGroup.items[0].item.coaches[0]) }}
                                          </div>
                                        }
                                        @if (timeGroup.items[0].item.coaches && timeGroup.items[0].item.coaches.length > 1) {
                                          <div class="coach">
                                            <b>Speakers:</b> {{ getCoachList(timeGroup.items[0].item.coaches) }}
                                          </div>
                                        }
                                      </div>
                                    </div>
                                  }
                                </div>
                              }
                            </div>
                          }
                        }
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</main>

<app-breakout-sessions>
</app-breakout-sessions>

