<div class="video">
  <div class="video__title">
    <h1>{{ title }}</h1>
    <hr appAnimate="fadeInLeftToRight" class="slider-hr slider-hr-w100 slider-hr-thick">
    <p>{{ subtitle }}</p>
  </div>
  @if (!isPlaying) {
    <div class="video__container" [style.backgroundImage]="posterUrl ? 'url(' + posterUrl + ')' : null">
      <div class="container">
        <div class="video__content text-center">
          <div class="video__button">
            <a (click)="playVideo()" (keydown.enter)="playVideo()" (keydown.space)="playVideo()" tabindex="0" role="button" class="cursor-pointer">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  }
  @if (isPlaying) {
    <div class="video__container">
      <div class="video__player-wrapper">
        <youtube-player
          [videoId]="videoId"
          suggestedQuality="highres"
          [playerVars]="{ autoplay: 1 }"
          class="video__player"
        ></youtube-player>
      </div>
    </div>
  }
</div>
