<div class="product">
  <a class="product__image" [routerLink]="['/product-details', product?.id]">
    <i *ngIf="product.salePrice && product.salePrice > 0" class="fas fa-tag"></i>
    <img loading="lazy" [src]="product?.imageUrl?.url" alt="product">
  </a>
  <div class="product__content">
    <hr class="slider-hr-solid">
    <div class="product__content-sales-price">
      <h5 *ngIf="product.salePrice && product.salePrice > 0"><s>$ {{ product.cost? product.cost.toFixed(2) : '0.00' }}</s></h5>
      <h5 *ngIf="product.salePrice && product.salePrice > 0"><strong>${{ product.salePrice? product.salePrice.toFixed(2) : '0.00' }}</strong></h5>
    </div>
    <h5 *ngIf="!product.salePrice"><strong>$ {{ product.cost? product.cost.toFixed(2) : '0.00' }}</strong></h5>
    <h4><a [routerLink]="['/product-details', product?.id]">{{product?.title}}</a></h4>
    <div class="product__content-buttons">
      <a [routerLink]="['/product-details', product?.id]" class="impact-btn">view</a>
      <a (click)="addCartProduct()" class="impact-icon-btn impact-icon-btn-blue"><i class="fas fa-cart-plus"></i>ADD</a>
    </div>
  </div>
</div>