<div class="book">
  <div class="banner__area-2 pb-60">
    <div class="container-fluid p-0">
      <div class="row g-0 justify-content-center align-items-center">
        <div class="book__text-area col-xl-4 col-lg-4 d-flex">
          <h4 appAnimate="fadeInUp" class="book__title mb-10" [innerHTML]="title"></h4>
          <p appAnimate="fadeInUpTwo">{{ subtitle }}</p>
          @if (isExternal) {
            <a appAnimate="fadeInUpThree" [href]="ctaUrl" class="impact-btn impact-btn-blue">{{ ctaTitle }}</a>
          } @else {
            <a appAnimate="fadeInUpThree" [routerLink]="[ctaDestination]" class="impact-btn impact-btn-blue">{{ ctaTitle }}</a>
          }
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="w-img">
            <img loading="lazy" [src]="imageUrl" alt="banner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
