@import '../../../assets/theme/scss/variables';

.story {
  &__title {
    color: $black;
    font-size: 36px;

    strong {
      color: $theme-color;
    }
  }

  &__text-area {
    margin: 25px;
    padding: 20px;
    flex-direction: column;
  }

  .impact-btn-primary {
    width: 50%;
  }
}

