<div class="sidebar">
  <div class="sidebar__search">
    <form (submit)="onSearch(searchInput.value)">
      <input 
        type="text" 
        #searchInput 
        placeholder="Search..." 
        (input)="onSearchInputChange(searchInput.value)"
      />
      <button type="submit"><i class="far fa-search"></i></button>
    </form>
  </div>
  <div class="sidebar__accordion">
    <div class="sidebar__accordion-header">
      <h3>Product Categories</h3>
      <dx-button class="clear-filter-button" (click)="onViewAllProducts()">View All</dx-button>
    </div>
    <div class="sidebar__accordion-content">
      <div class="accordion">
        <dx-accordion
          #accordion
          [dataSource]="categoryWithProducts"
          [collapsible]="true"
          [multiple]="false"
          [animationDuration]="300"
          id="accordion-container"
        >
          <div *dxTemplate="let product of 'title'">
            <div class="accordion__header">{{ product?.category?.tag }}</div>
          </div>
        
          <div *dxTemplate="let item of 'item'">
            <div class="accordion__tags-container">
              <dx-button 
                *ngFor="let product of item?.displayProducts" 
                [text]="product?.title" 
                (onClick)="onItemClick(product?.id)">
              </dx-button>
        
              <span *ngIf="item?.products?.length > 10"  class="product">... and more!</span>
              <dx-button  
                class="view-all" 
                [text]="'VIEW ALL '" 
                (onClick)="onCategoryClick(item?.category)">
              </dx-button>
            </div>
          </div>
        </dx-accordion>
      </div>
    </div>
  </div>
</div>