<app-home-header></app-home-header>

<main class="event-details">
  <section class="pb-70 mt-60">
    <div class="container">
      <div class="row">

        <!-- event details - agenda -->
        <div class="col-lg-6">
          <div class="event-details__left">
            <img [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Events%2FSimple-DMC-Cover-2024.webp?alt=media&token=dd328a1f-44bc-49ea-bb3e-c5f410065291'" alt="blog">

            <ng-template #noAgenda class="your-order-table table-responsive">
              <h3>Agenda</h3>
              <div class="no-agenda mt-30">
                Check back for more updates!
              </div>
            </ng-template>

            <div *ngIf="event?.agendaItems else noAgenda" class="your-order-table table-responsive">
              <ng-container *ngFor="let monthGroup of groupedAgendaItems">
                <h3 class="mt-30">Agenda -<strong> {{ monthGroup.monthYear }}</strong></h3>
                <table class="agenda">
                  <tbody>
                    <ng-container *ngFor="let dayGroup of monthGroup.days">
                      <tr>
                        <div class="agenda__date">
                          <div>{{ dayGroup.date | date: 'EEE' }}</div>
                          <div class="agenda__date-number">{{ dayGroup.date | date: 'd' }}</div>
                        </div>
                        <td>
                          <tr *ngFor="let item of dayGroup.items" class="agenda__group">
                            <td *ngIf="item.isCourse">{{ item.course | courseName | async }}</td>
                            <td *ngIf="!item.isCourse">{{ item.text }}</td>
                            <td class="agenda__group-time">{{ item.startDate | date: 'shortTime' }} - {{ item.endDate | date: 'shortTime' }}</td>
                          </tr>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- event details - details -->
        <div class="col-lg-6">
          <div class="row event-details__right">

            <h2>{{ event?.eventName }}</h2>
            <span class="event-details__right-subtitle">
              <span *ngIf="event?.startDate" class="date">{{ event.startDate.toString()| date: 'M/d' }} </span>
              <span *ngIf="event?.endDate" class="date">- {{ event.endDate.toString() | date: 'M/d' }} </span>
              <span *ngIf="event?.location">/ {{ event.location.toString() | location : 'cityState' | async }}</span>
            </span>
            <p *ngIf="event?.description" class="events-list__content-description">{{ event.description }}</p>

            <div class="mt-20 mb-30">
              <h4>ADD TICKETS:</h4>
              <div class="event-details__right-ticket-number">
                <button class="os-btn" (click)="decrement()"> <i class="dx-icon-minus"></i></button>
                 <dx-number-box [value]="cartItem?.attendees?.length"></dx-number-box>
                <button class="os-btn" (click)="increment()"><i class="dx-icon-plus"></i></button>
              </div>
            </div>

            <h3>Tickets</h3>
            <dx-accordion *ngFor="let attendee of cartItem?.attendees; let i = index" [collapsible]="true" [multiple]="true" [selectedIndex]="0">
              <dxi-item  title="Attendee {{ i + 1 }} *">
                <dx-form #attendeeForms [formData]="attendee">
                  <dxi-item dataField="firstName" [isRequired]="true"></dxi-item>
                  <dxi-item dataField="lastName" [isRequired]="true"></dxi-item>
                  <dxi-item dataField="email"></dxi-item>
                </dx-form>
              </dxi-item>
            </dx-accordion>

            <div class="cart-page-total">
              <h2>Cart totals</h2>
              <ul class="mb-20">
                <li>Ticket Price <span>${{ event?.costInDollars }}</span></li>
                <li>Total <span>${{ total }}</span></li>
              </ul>
              <a class="os-btn"(click)="proceedToCheckout()">Add To Cart</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>