<app-home-header></app-home-header>

<main class="checkout">

  <app-breadcrumb [currentPageName]="'Checkout'" [bgColor]="'#1F1F1F'" [previousLink]="'/shopping-cart'" [previousLinkName]="'Shopping Cart'" [isDark]="true"></app-breadcrumb>

  <!-- login / coupon area
  <section class="coupon-area pt-50 pb-30">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div *ngIf="!isLoggedIn" class="coupon-accordion">
            <h3>Returning customer? <span id="showlogin" (click)="handleOpenLogin()">Click here to login</span></h3>
            <div *ngIf="isOpenLogin" id="checkout-login" class="coupon-content">
              <div class="coupon-info">
                <dx-form
                  #loginFormComponent
                  [formData]="logInForm"
                  labelLocation="top"
                  [showColonAfterLabel]="false"
                >
                  <dxi-item dataField="email" [isRequired]="true" [label]="{ text: 'Email Address' }"></dxi-item>
                  <dxi-item dataField="password" [isRequired]="true" [label]="{ text: 'Password' }"></dxi-item>
                </dx-form>
                <button class="os-btn os-btn-black" type="submit" (click)="handleLogin()">Login</button>
              </div>
            </div>
          </div>
          <div *ngIf="isLoggedIn" class="coupon-accordion">
            <h3>Logged in as {{ loggedInUser }} <span id="showlogin" (click)="handleLogout()">Click here to logout</span></h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="coupon-accordion">
            <h3>Have a coupon? <span id="showcoupon" (click)="handleOpenCoupon()">Click here to enter your code</span></h3>
            <div *ngIf="isOpenCoupon" id="checkout_coupon" class="coupon-checkout-content">
              <div class="coupon-info">
                <form action="#">
                  <p class="checkout-coupon">
                    <input type="text" [(ngModel)]="couponCode" name="couponCode" placeholder="Coupon Code" />
                    <button class="os-btn os-btn-black" (click)="applyCoupon()">Apply Coupon</button>
                  </p>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->

  <!-- checkout-area -->
  <section class="checkout-area pb-70 mt-80">
    <div class="container-xxl">

      <!-- checkout no items in cart block -->
      <div *ngIf="checkoutForm?.cartItems?.length === 0;else checkoutBlock" class="text-center pt-80 pb-30">
        <h3 class="py-2">No items found in cart to checkout</h3>
        <a routerLink="/shop" class="os-btn os-btn-black">
          Return to shop
        </a>
      </div>

      <!-- checkout with items block -->
      <ng-template #checkoutBlock>
        <div class="row">
          <div class="col-lg-6">

            <!-- checkout billing form -->
            <dx-form
              #checkoutFormComponent
              [formData]="checkoutForm"
              [colCount]="2"
              labelLocation="top"
              [showColonAfterLabel]="false"
            >
              <dxi-item dataField="firstName" [isRequired]="true" [label]="{ text: 'First Name' }"></dxi-item>
              <dxi-item dataField="lastName" [isRequired]="true" [label]="{ text: 'Last Name' }"></dxi-item>
              <dxi-item dataField="email" [isRequired]="true" [label]="{ text: 'Email Address' }"></dxi-item>
              <dxi-item dataField="phone.number" [isRequired]="true" [label]="{ text: 'Phone Number' }"></dxi-item>
              <dxi-item
                cssClass="checkbox"
                dataField="isNewsletter"
                editorType="dxCheckBox"
                [colSpan]="2"
                [label]="{ text: 'Sign up for our Newsletter to receive emails about our next Events!', location: 'right' }"
              ></dxi-item>

              <dxi-item
                cssClass="checkbox"
                dataField="isCreateAccount"
                editorType="dxCheckBox"
                [colSpan]="2"
                [label]="{ text: 'Create Account', location: 'right' }"
              ></dxi-item>

              <dxi-item *ngIf="checkoutForm?.isCreateAccount" [colSpan]="2" [isRequired]="true">
                <dx-text-box
                  placeholder="Enter Password"
                  mode="password"
                  [(ngModel)]="password"
                ></dx-text-box>
              </dxi-item>


              <dxi-item [colSpan]="2">
                <div *dxTemplate><h4>Billing Address</h4></div>
              </dxi-item>
              <dxi-item dataField="billingAddress.address1" [isRequired]="true" [colSpan]="2" [label]="{ text: 'Address' }" [editorOptions]="{ placeholder: 'Street Address' }"></dxi-item>
              <dxi-item dataField="billingAddress.address2" [colSpan]="2" [label]="{ text: ' ' }" [editorOptions]="{ placeholder: 'Apartment, Suite, Unit, etc. ' }"></dxi-item>
              <dxi-item dataField="billingAddress.city" [isRequired]="true" [colSpan]="2" [label]="{ text: 'City' }" [editorOptions]="{ placeholder: 'City' }"></dxi-item>
              <dxi-item dataField="billingAddress.state" [isRequired]="true" [label]="{ text: 'State' }" [editorOptions]="{ placeholder: 'State' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="states"
                    [(value)]="checkoutForm.billingAddress.state">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="billingAddress.zip" [isRequired]="true" [label]="{ text: 'Zip Code' }" [editorOptions]="{ placeholder: 'Zip Code' }"></dxi-item>
              <dxi-item dataField="billingAddress.country" [isRequired]="true" [label]="{ text: 'Country' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="countries"
                    [(value)]="checkoutForm.billingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="isShippingSameAsBilling" editorType="dxCheckBox" [label]="{ text: 'Is Shipping Same As Billing?', location: 'right' }"></dxi-item>
              <dxi-item itemType="empty"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" [colSpan]="2">
                <div *dxTemplate><h4>Shipping Address</h4></div>
              </dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="shippingAddress.address1" [isRequired]="true" [colSpan]="2" [label]="{ text: 'Address' }" [editorOptions]="{ placeholder: 'Street Address' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="shippingAddress.address2" [colSpan]="2" [label]="{ text: ' ' }" [editorOptions]="{ placeholder: 'Apartment, Suite, Unit, etc. ' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="shippingAddress.city" [isRequired]="true" [colSpan]="2" [label]="{ text: 'City' }" [editorOptions]="{ placeholder: 'City' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="shippingAddress.state" [isRequired]="true" [label]="{ text: 'State' }" [editorOptions]="{ placeholder: 'State' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="countries"
                    [(value)]="checkoutForm.shippingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="shippingAddress.zip" [isRequired]="true" [label]="{ text: 'Zip Code' }" [editorOptions]="{ placeholder: 'Zip Code' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="shippingAddress.country" [isRequired]="true" [label]="{ text: 'Country' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="countries"
                    [(value)]="checkoutForm.shippingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
            </dx-form>

          </div>

          <div class="col-lg-6">
            <div class="your-order mb-30 ">

              <!-- checkout order details -->
              <h3>Your order</h3>
              <div class="coupon-info">
                <form action="#">
                  <p class="checkout-coupon d-flex align-items-center">
                    <input class="mb-0" type="text" [(ngModel)]="couponCode" name="couponCode" placeholder="Coupon Code" />
                    <button class="os-btn os-btn-black ml-10" (click)="applyCoupon()">Apply</button>
                  </p>
                </form>
              </div>
              <div class="your-order-table table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="product-name"><strong>Item</strong></th>
                      <th></th>
                      <th class="product-total text-right"><strong>Total</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cartItem of checkoutForm.cartItems" class="cart_item">
                      <td class="product-name">
                        <span>{{ cartItem?.itemName }} <strong class="product-quantity"> × {{ cartItem?.orderQuantity }}</strong></span>
                        <div *ngIf="cartItem?.discountPrice || cartItem?.discountPrice === 0" class="coupon-text d-flex">
                          <span class="code-text"><i class="dx-icon-tags tag-icon"></i>{{ itemDiscountAmount?.code }}</span>
                          <span *ngIf="itemDiscountAmount?.dollarsOff" class="amount">- ${{ itemDiscountAmount.dollarsOff }}</span>
                          <span *ngIf="itemDiscountAmount?.percentOff" class="amount">- {{ itemDiscountAmount.percentOff }}%</span>
                        </div>
                      </td>
                      <td class="attendees text-center" *ngIf="cartItem.isEvent">
                        <div *ngFor="let attendee of cartItem.attendees">
                          {{ attendee.firstName }} {{ attendee.lastName }}
                        </div>
                      </td>
                      <td *ngIf="!cartItem.isEvent"></td>
                      <td class="product-total text-right">
                        <span *ngIf="cartItem?.discountPrice === null || cartItem?.discountPrice === undefined" class="amount">${{ cartItem?.price }}</span>
                        <div *ngIf="cartItem?.discountPrice || cartItem?.discountPrice === 0" class="d-flex justify-content-center">
                          <span class="after-discount">${{ cartItem?.discountPrice }}</span>
                          <span class="before-discount">${{ cartItem?.price }}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Shipping</th>
                      <td><button class="os-btn os-btn-black ml-10" (click)="this.calculateShippingCost()">Calculate Shipping</button></td>
                      <td class="text-right">
                        <strong>
                          <span class="amount" *ngIf="this.checkoutForm.shippingRate">{{this.checkoutForm.shippingRate | currency}}</span>
                        </strong>
                      </td>
                    </tr>
                    <tr>
                      <th>Subtotal</th>
                      <td></td>
                      <td class="text-right"><strong><span class="amount">
                        ${{ this.checkoutForm.totalBeforeDiscount.toFixed(2) }}
                        </span></strong>
                      </td>
                    </tr>
                    <tr class="coupon-text" *ngIf="cartDiscountAmount">
                      <th>Discount</th>
                      <td><span class="code-text"><i class="dx-icon-tags tag-icon"></i>{{ cartDiscountAmount?.code }}</span></td>
                      <td class="text-right">
                        <strong>
                          <span *ngIf="cartDiscountAmount?.dollarsOff" class="discount-amount">- ${{ cartDiscountAmount.dollarsOff }}</span>
                          <span *ngIf="cartDiscountAmount?.percentOff" class="discount-amount">- {{ cartDiscountAmount.percentOff }}%</span>
                        </strong>
                      </td>
                    </tr>
                    <tr class="order-total">
                      <th><span><strong>Order Total</strong></span></th>
                      <td></td>
                      <td class="text-right">
                        <span class="amount"><strong>${{ checkoutForm?.total }}</strong></span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- checkout payment -->
              <div class="payment-method mb-80">
                <form id="payment-form">
                  <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                  </div>
                  <div id="payment-message" class="hidden"></div>
                </form>
              </div>
              <button id="submit" class="os-btn os-btn-black pay-button" (click)="handleSubmit($event)">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>

</main>

<app-footer></app-footer>
