<app-home-header></app-home-header>

<main class="checkout pb-50">
  <app-breadcrumb [currentPageName]="'Checkout'" [bgColor]="'#1F1F1F'" [previousLink]="'/shopping-cart'" [previousLinkName]="'Shopping Cart'" [isDark]="true"></app-breadcrumb>

  <section class="checkout-area pb-70 mt-80">
    <div class="container-xxl">

      <!-- checkout no items in cart block -->
      <div *ngIf="checkoutForm?.cartItems?.length === 0;else checkoutBlock" class="text-center pt-80 pb-30">
        <h3 class="py-2">No items found in cart to checkout</h3>
        <a routerLink="/shop" class="os-btn os-btn-black">
          Return to shop
        </a>
      </div>

      <ng-template #checkoutBlock>
        <div class="row">
          <div *ngIf="isShippingView" class="col-lg-7">
            <dx-form
              #shippingFormComponent
              [formData]="checkoutForm"
              [colCount]="6"
              labelLocation="top"
              [showColonAfterLabel]="false"
            >
              <dxi-item [colSpan]="6">
                <div *dxTemplate><h4>Customer Information</h4></div>
              </dxi-item>
              <dxi-item dataField="firstName" [colSpan]="3" [isRequired]="true" [label]="{ text: 'First Name' }"></dxi-item>
              <dxi-item dataField="lastName" [colSpan]="3" [isRequired]="true" [label]="{ text: 'Last Name' }"></dxi-item>
              <dxi-item dataField="email" [colSpan]="3" [isRequired]="true" [label]="{ text: 'Email Address' }"></dxi-item>
              <dxi-item dataField="phone.number" [colSpan]="3" [isRequired]="true" [label]="{ text: 'Phone Number' }"></dxi-item>
              <dxi-item dataField="isNewsletter" editorType="dxCheckBox" [colSpan]="1" cssClass="checkbox" [label]="{ text: 'Sign up for our Newsletter to receive emails about our next Events!', location: 'right' }"></dxi-item>
              <dxi-item [colSpan]="5" itemType="empty"></dxi-item>
              <dxi-item dataField="isCreateAccount" editorType="dxCheckBox" [colSpan]="1" cssClass="checkbox" [label]="{ text: 'Create Account', location: 'right' }"></dxi-item>
              <dxi-item [colSpan]="5" itemType="empty"></dxi-item>
              <dxi-item *ngIf="checkoutForm?.isCreateAccount" [colSpan]="3" [isRequired]="true">
                <dx-text-box
                  placeholder="Enter Password"
                  mode="password"
                  [(ngModel)]="password"
                ></dx-text-box>
              </dxi-item>
              <dxi-item [colSpan]="6" itemType="empty"></dxi-item>

              <dxi-item [colSpan]="6">
                <div *dxTemplate><h4>Shipping Address</h4></div>
              </dxi-item>
              <dxi-item dataField="shippingAddress.address1" [isRequired]="true" [colSpan]="6" [label]="{ text: 'Address' }" [editorOptions]="{ placeholder: 'Street Address' }"></dxi-item>
              <dxi-item dataField="shippingAddress.address2" [colSpan]="6" [label]="{ text: ' ' }" [editorOptions]="{ placeholder: 'Apartment, Suite, Unit, etc. ' }"></dxi-item>
              <dxi-item dataField="shippingAddress.city" [isRequired]="true" [colSpan]="3" [label]="{ text: 'City' }" [editorOptions]="{ placeholder: 'City' }"></dxi-item>
              <dxi-item dataField="shippingAddress.state" [isRequired]="true" [colSpan]="2" [label]="{ text: 'State' }" [editorOptions]="{ placeholder: 'State' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="states"
                    [(value)]="checkoutForm.shippingAddress.state">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="shippingAddress.zip" [isRequired]="true" [colSpan]="1" [label]="{ text: 'Zip Code' }" [editorOptions]="{ placeholder: 'Zip Code' }"></dxi-item>
              <dxi-item dataField="shippingAddress.country" [isRequired]="true" [colSpan]="3" [label]="{ text: 'Country' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [value]="countries[0]"
                    [items]="countries"
                    [(value)]="checkoutForm.shippingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
            </dx-form>
            <dx-button class="mt-20 f-right impact-btn impact-btn-black-bg" (onClick)="setView('billing')">Continue to Billing</dx-button>
          </div>

          <div *ngIf="isBillingView" class="col-lg-7">
            <div class="checkout__customer-info mb-50">
              <div class="checkout__customer-info-block customer">
                <span>Customer</span>
                <span class="info">{{ checkoutForm?.email }}</span>
                <a (click)="setView('shipping')">Change</a>
              </div>
              <div class="checkout__customer-info-block">
                <span>Ship To</span>
                <span class="info">
                  {{ checkoutForm?.shippingAddress?.address1 }}
                  {{ checkoutForm?.shippingAddress?.address2 }}
                  {{ checkoutForm?.shippingAddress?.city }},
                  {{ checkoutForm?.shippingAddress?.state }}
                  {{ checkoutForm?.shippingAddress?.zip }}
                  {{ checkoutForm?.shippingAddress?.country }}
                </span>
                <a (click)="setView('shipping')">Change</a>
              </div>
            </div>
            <dx-form
              #billingFormComponent
              [formData]="checkoutForm"
              [colCount]="6"
              labelLocation="top"
              [showColonAfterLabel]="false"
            >
              <dxi-item [colSpan]="6">
                <div *dxTemplate><h4>Billing Address</h4></div>
              </dxi-item>
              <dxi-item dataField="isShippingSameAsBilling" editorType="dxCheckBox" [label]="{ text: 'Is Billing Same As Shipping?', location: 'right' }"></dxi-item>
              <dxi-item itemType="empty" [colSpan]="5"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="billingAddress.address1" [isRequired]="true" [colSpan]="6" [label]="{ text: 'Address' }" [editorOptions]="{ placeholder: 'Street Address' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="billingAddress.address2" [colSpan]="6" [label]="{ text: ' ' }" [editorOptions]="{ placeholder: 'Apartment, Suite, Unit, etc. ' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="billingAddress.city" [isRequired]="true" [colSpan]="3" [label]="{ text: 'City' }" [editorOptions]="{ placeholder: 'City' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="billingAddress.state" [isRequired]="true" [colSpan]="2" [label]="{ text: 'State' }" [editorOptions]="{ placeholder: 'State' }"></dxi-item>
              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="billingAddress.zip" [isRequired]="true" [colSpan]="1" [label]="{ text: 'Zip Code' }" [editorOptions]="{ placeholder: 'Zip Code' }"></dxi-item>

              <dxi-item *ngIf="!checkoutForm?.isShippingSameAsBilling" dataField="billingAddress.country" [colSpan]="3" [isRequired]="true" [label]="{ text: 'Country' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="countries"
                    [(value)]="checkoutForm.billingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
            </dx-form>
            <!-- checkout payment -->
            <div class="payment-method mb-80">
              <form id="payment-form">
                <div id="payment-element">
                  <!--Stripe.js injects the Payment Element-->
                </div>
                <div id="payment-message" class="hidden"></div>
              </form>
            </div>
            <button id="submit" class="os-btn os-btn-black pay-button" (click)="handleSubmit($event)" *ngIf="isPayButtonVisible">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay now</span>
            </button>
          </div>

          <div class="col-lg-5">
            <div class="checkout__your-order mb-30">
              <h3>Your order</h3>
              <div class="coupon-info">
                <form action="#">
                  <p class="checkout-coupon d-flex align-items-center">
                    <input class="mb-0" type="text" [(ngModel)]="couponCode" name="couponCode" placeholder="Coupon Code" />
                    <button class="os-btn os-btn-black ml-10" (click)="applyCoupon()">Apply</button>
                  </p>
                </form>
              </div>

              <div class="your-order-table mt-20">
                <div class="row">
                  <div class="col-lg-5">Item</div>
                  <div class="col-lg-5"></div>
                  <div class="col-lg-2 text-end">Total</div>
                </div>
                <div *ngFor="let cartItem of checkoutForm.cartItems" class="row">
                  <div class="col-lg-5">
                    {{ cartItem?.itemName }}
                    <strong class="product-quantity"> × {{ cartItem?.orderQuantity }}</strong>
                    <div *ngIf="cartItem?.discountPrice || cartItem?.discountPrice === 0" class="coupon-text d-flex">
                      <span class="code-text"><i class="dx-icon-tags tag-icon"></i>{{ itemDiscountAmount?.code }}</span>
                      <span *ngIf="itemDiscountAmount?.dollarsOff" class="amount">- ${{ itemDiscountAmount.dollarsOff }}</span>
                      <span *ngIf="itemDiscountAmount?.percentOff" class="amount">- {{ itemDiscountAmount.percentOff }}%</span>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div *ngIf="cartItem.isEvent">
                      <div *ngFor="let attendee of cartItem.attendees">
                        {{ attendee.firstName }} {{ attendee.lastName }}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-end">
                    <span *ngIf="cartItem?.discountPrice === null || cartItem?.discountPrice === undefined" class="amount">${{ cartItem.price? cartItem?.price.toFixed(2) : '0.00' }}</span>
                    <div *ngIf="cartItem?.discountPrice || cartItem?.discountPrice === 0" class="d-flex justify-content-center">
                      <span class="after-discount">${{ cartItem?.discountPrice.toFixed(2) }}</span>
                      <span class="before-discount">${{ cartItem?.price.toFixed(2) }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">Subtotal</div>
                  <div class="col-lg-5"></div>
                  <div class="col-lg-2 text-end" *ngIf="isNan(this.checkoutForm.totalBeforeDiscount)"> ${{ this.checkoutForm.totalBeforeDiscount.toFixed(2) }}</div>
                  <div class="col-lg-2 text-end" *ngIf="!isNan(this.checkoutForm.totalBeforeDiscount)"> $ 0.00</div>
                </div>
                <div *ngIf="cartDiscountAmount" class="row">
                  <div class="col-lg-5">Discount</div>
                  <div class="col-lg-5"><span class="code-text"><i class="dx-icon-tags tag-icon"></i>{{ cartDiscountAmount?.code }}</span></div>
                  <div class="col-lg-2 text-end">
                    <strong>
                      <span *ngIf="cartDiscountAmount?.dollarsOff" class="discount-amount">- ${{ cartDiscountAmount.dollarsOff }}</span>
                      <span *ngIf="cartDiscountAmount?.percentOff" class="discount-amount">- {{ cartDiscountAmount.percentOff }}%</span>
                    </strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">Shipping</div>
                  <div *ngIf="this.checkoutForm.shippingRate" class="col-lg-5"></div>
                  <div *ngIf="this.checkoutForm.shippingRate" class="col-lg-2 text-end">{{this.checkoutForm.shippingRate | currency}}</div>
                  <div *ngIf="!this.checkoutForm.shippingRate" class="col-lg-7 text-end shipping-text">
                    <dx-load-indicator
                      class="button-indicator"
                      [visible]="showShippingSpinner">
                    </dx-load-indicator>
                    <span *ngIf="!showShippingSpinner && this.checkoutForm.shippingRate != 0" class="dx-button-text">Calculated at Next Step</span>
                    <span *ngIf="!showEstimatedTaxesSpinner && this.checkoutForm.shippingRate == 0" class="dx-button-text shipping-text">{{this.checkoutForm.shippingRate | currency}}</span>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">Estimated Tax</div>
                  <div *ngIf="this.checkoutForm.estimatedTaxes" class="col-lg-5"></div>
                  <div *ngIf="this.checkoutForm.estimatedTaxes" class="col-lg-2 text-end">{{this.checkoutForm.estimatedTaxes | currency}}</div>
                  <div *ngIf="!this.checkoutForm.estimatedTaxes && this.checkoutForm.shippingAddress.state == 'Georgia'" class="col-lg-7 text-end shipping-text">
                    <dx-load-indicator
                      class="button-indicator"
                      [visible]="showEstimatedTaxesSpinner">
                    </dx-load-indicator>
                    <span *ngIf="!showEstimatedTaxesSpinner && this.checkoutForm.estimatedTaxes != 0" class="dx-button-text">Calculated at Next Step</span>
                    <span *ngIf="!showEstimatedTaxesSpinner && this.checkoutForm.estimatedTaxes == 0" class="dx-button-text shipping-text">{{this.checkoutForm.estimatedTaxes | currency}}</span>
                  </div>
                  <div *ngIf="!this.checkoutForm.estimatedTaxes && this.checkoutForm.shippingAddress.state != 'Georgia'" class="col-lg-7 text-end shipping-text">
                    Only required if in Georgia
                  </div>
                </div>
                <div class="row order-total">
                  <div class="col-lg-6 order-total__title">Order Total</div>
                  <div class="col-lg-6 text-end order-total__amount" *ngIf="isNan(checkoutForm.total)"><strong>${{ checkoutForm?.total.toFixed(2) }}</strong></div>
                  <div class="col-lg-6 text-end order-total__amount" *ngIf="!isNan(checkoutForm.total)"><strong>$ 0.00</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</main>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#checkoutBlock' }"
    [visible]="isProcessingPanelVisible"
    [message] = "'Please wait while payment is processed!'"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false">
</dx-load-panel>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#checkoutBlock' }"
    [visible]="isSetupPanelVisible"
    [message] = "'Please wait while setting up payment!'"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false">
</dx-load-panel>
