<app-home-header></app-home-header>

<main class="pb-80">

  <app-breadcrumb [currentPageName]="'Shopping Cart'" [bgColor]="'#1F1F1F'" [previousLink]="'/store'" [previousLinkName]="'Store'" [isDark]="true"></app-breadcrumb>

  <section class="cart-area pt-100 pb-100">
    <div class="container">
      <div *ngIf="shoppingCart?.cartItems?.length === 0" class="text-center pt-50">
        <h3>No Cart Items Found</h3>
        <a routerLink="/store" class="os-btn os-btn-black">Continue Shopping</a>
      </div>

      <div *ngIf="shoppingCart?.cartItems?.length > 0" class="row">
        <div class="coupon-info">
          <form action="#">
            <div class="row">
              <div class="col-lg-8 col-sm-0"></div>
              <div class="col-lg-4 col-sm-12">
                <p class="checkout-coupon d-flex align-items-center">
                  <input class="mb-0" type="text" [(ngModel)]="couponCode" name="couponCode" placeholder="Coupon Code" />
                  <button class="os-btn os-btn-black ml-10" (click)="applyCoupon()">Apply</button>
                </p>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12">
            <div class="table-content table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Images</th>
                    <th class="cart-product-name">Product</th>
                    <th class="product-price">Unit Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-subtotal">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of shoppingCart.cartItems">
                    <td class="product-thumbnail">
                      <a [routerLink]="item?.isEvent ? ['/event-details', item?.id] : ['/product-details', item?.id]">
                        <img [src]="item?.img?.url" [alt]="item?.itemName">
                      </a>
                    </td>
                    <td class="product-name">
                      <a [routerLink]="item?.isEvent ? ['/event-details', item?.id] : ['/product-details', item?.id]"><strong>{{item?.itemName}}</strong></a>
                      <div *ngIf="item?.isEvent">
                        <span *ngFor="let attendee of item?.attendees; let i = index">
                          {{ attendee?.firstName }} {{ attendee?.lastName }}<span *ngIf="i !== item?.attendees?.length - 1">, </span>
                        </span>
                      </div>
                      <div *ngIf="item.size || item.color">
                          <span>{{ item?.size ? item.size : '' }} &nbsp;&nbsp;&nbsp;</span>
                          <span>{{ item.color? item.color : '' }}</span>
                      </div>
                    </td>
                    <td class="product-price">
                      <span *ngIf="(item?.discountPrice === null || item?.discountPrice === undefined) && !item?.salePrice" class="amount">
                        {{ item.salePrice? (item.salePrice | currency) : item.price? (item.price | currency): (0 | currency) }}
                      </span>
                      <div *ngIf="(item?.discountPrice || item?.discountPrice === 0) && item?.salePrice" class="d-flex justify-content-center">
                        <span class="after-discount">{{item.discountPrice | currency}}</span>
                        <span class="before-discount">{{ item.salePrice? item.salePrice : item.price? (item.price | currency): (0 | currency) }}</span>
                      </div>
                      <div *ngIf="item?.salePrice" class="d-flex justify-content-center">
                        <span class="after-discount">{{item.salePrice | currency}}</span>
                      </div>
                    </td>
                    <td class="product-quantity">
                      <div class="cart-plus-minus">
                        <input type="text" [value]="item?.orderQuantity" readonly />
                        <div *ngIf="!item?.isEvent" (click)="quantityDecrement(item)" class="dec qtybutton">-</div>
                        <div *ngIf="!item?.isEvent" (click)="addCartProduct(item)" class="inc qtybutton">+</div>
                      </div>
                    </td>
                    <td class="product-subtotal">
                      <span *ngIf="item?.discountPrice === null || item?.discountPrice === undefined" class="amount">
                        {{item.salePrice? (item.salePrice * item?.orderQuantity | currency) : item.price? ((item.price * item?.orderQuantity!) | currency) : (0 | currency)}}
                      </span>
                      <div *ngIf="item?.discountPrice || item?.discountPrice === 0" class="d-flex justify-content-center">
                        <span class="after-discount">{{ (item.discountPrice * item?.orderQuantity) | currency}}</span>
                        <span class="before-discount">{{item.price? ((item.price * item?.orderQuantity!) | currency) : (0 | currency)}}</span>
                      </div>                 </td>
                    <td class="product-remove">
                      <a (click)="removeCartProduct(item)" class="cursor-pointer">
                        <i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3"><strong>SubTotal:</strong></td>
                    <td colspan="1"><strong></strong></td>
                    <td colspan="2">
                      <strong>
                        <span class="code-text">{{ shoppingCart.totalBeforeDiscount | currency}}</span>
                      </strong>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <strong>Discount:</strong>
                    </td>
                    <td colspan="1">
                      <span *ngIf="cartDiscountAmount" class="code-text align-items-end">{{ cartDiscountAmount?.code }}</span>
                      <span *ngIf="itemDiscountAmount" class="code-text align-items-end">{{ itemDiscountAmount?.code }}</span>
                    </td>
                    <td colspan="2">
                      <strong *ngIf="cartDiscountAmount">
                        <span *ngIf="cartDiscountAmount?.percentOff">- {{ cartDiscountAmount.percentOff }}%</span>
                      </strong>
                      <strong *ngIf="itemDiscountAmount">
                        <span> - {{ shoppingCart.discount | currency}}</span>
                      </strong>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3"><strong>Cart Total:</strong></td>
                    <td colspan="1"><strong></strong></td>
                    <td colspan="2"><strong>{{ NumberUtil.isNumber(shoppingCart.total) ? (shoppingCart.total | currency) : (0 | currency) }}</strong></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-8 col-sm-12 mt-50">
                <div>
                  <div class="coupon">
                    <button (click)="cartService.clearCart()" class="impact-btn impact-btn-dark-border" name="update_cart" type="submit">
                      Clear cart
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-12 mt-50">
                <a class="impact-btn impact-btn-dark-bg" (click)="checkout()">Proceed to checkout</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
