.code-text {
  font-weight: 700;
  margin-right: 10px;
} 

.tag-icon {
  margin-right: 10px;
  color: #29e829;
}

.discount-amount {
  font-weight: 800;
  color: #29e829;
}

.before-discount {
  text-decoration: line-through;
}
.after-discount {
  margin-right: 10px;
  font-weight: 800;
  color: #29e829;
}