<nav>
  <ul>
    <li *ngFor="let item of menuItems; let index = index" [ngClass]="getMenuClasses(item)">
      <ng-container *ngIf="item.visible">
        <ng-container *ngIf="item.external">
          <a [href]="item.link" target="_blank" *ngIf="item.highlight" style="color: rgb(4, 0, 255);">{{ item.title }}</a>
          <a [href]="item.link" target="_blank" *ngIf="!item.highlight">{{ item.title }}</a>
        </ng-container>
        <ng-container *ngIf="!item.external">
          <a [routerLink]="item.link" *ngIf="item.highlight" style="color: rgb(4, 0, 255);">{{ item.title }}</a>
          <a [routerLink]="item.link" *ngIf="!item.highlight">{{ item.title }}</a>
        </ng-container>
      </ng-container>

      <ul *ngIf="item.hasDropdown && !item.megamenu" class="submenu transition-3">
        <li *ngFor="let menu of item.dropdownItems; let index = index">
          <ng-container *ngIf="menu.visible">
            <ng-container *ngIf="menu.external">
              <a [href]="menu.link" target="_blank" *ngIf="menu.highlight" style="color: rgb(4, 0, 255);">{{ menu.title }}</a>
              <a [href]="menu.link" target="_blank" *ngIf="!menu.highlight">{{ menu.title }}</a>
            </ng-container>
            <ng-container *ngIf="!menu.external">
              <a [routerLink]="menu.link" *ngIf="menu.highlight" style="color: rgb(4, 0, 255);">{{ menu.title }}</a>
              <a [routerLink]="menu.link" *ngIf="!menu.highlight">{{ menu.title }}</a>
            </ng-container>
          </ng-container>
        </li>
      </ul>

    </li>
  </ul>
</nav>
