@import '../../../../../assets/theme/scss/variables';

::ng-deep .dx-accordion-item, .dx-accordion-item-opened {
  border-color: transparent;
  .dx-accordion-item-title {
    color: $theme-color;
  }
}
::ng-deep .dx-button {
  border: none;
  width: 100%;
  .dx-button-content {
    justify-content: left;
  }
}

::ng-deep .clear-filter-button {
  width: fit-content;
  .dx-button-content {
    font-size: 12px;
    color: #7a7a7a;
  }
}

.sidebar__widget-title {
  border-bottom: 1px solid $border;
  padding-bottom: 10px;

}