<section class="consulation-banner" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fteam-header.PNG?alt=media&token=96b45f4e-2a72-4068-944a-ae188c4f3090)'">
  <h2 animate="fadeInUp" class="consulation-banner__title">RECEIVE A FREE CONSULTATION</h2>
  <p class="consulation-banner__description">Your first consultation is on us. Fill out a brief survey and one of our consultants will contact you shortly!</p>
  <div class="consulation-banner__button">
    <a href="/consultation-survey" class="impact-btn impact-btn-white">Get My Free Consultation</a>
  </div>
</section>