<app-home-header></app-home-header>

<!-- TODO: Update to display from htmlEditor -->
<main class="private-policy mb-80">
  <app-breadcrumb
    [currentPageName]="'Private Policy'"
    [previousLinkName]="'Home'"
    [previousLink]="'/home'"
    [isDark]="true"
    [bgImg]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fprivate-policy-header.PNG?alt=media&token=f5693298-d70b-43a0-a904-a678e01c33ae'"
  ></app-breadcrumb>

  <div class="container mt-50" [innerHTML]="webConfig.policy">

  </div>
</main>

<app-footer></app-footer>
