.event-checkout {
  .pay-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .product-name {
    padding: 15px 20px 15px 0px;
  }
  .newsletter > .dx-field-item-content.dx-field-item-content-location-bottom {
    max-width: 30px;
  }
}

