<app-home-header></app-home-header>

<div class="team">
  <app-header
    [backgroundUrl]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fteam-header.PNG?alt=media&token=96b45f4e-2a72-4068-944a-ae188c4f3090'"
    [title]="'Receive A Free Consultation'"
    [description]="'Your first consultation is on us. Fill out a brief survey and one of our consultants will contact you shortly!'"
    [buttonLink]="'/consultation-survey'"
    [buttonText]="'Get My Free Consultation'"
  ></app-header>
  <div class="team__options">
    <div class="item"><a [routerLink]="['/about-us']">About Us</a></div>
    <div class="item item-middle"><a [routerLink]="['/customer-reviews']">Customer Reviews</a></div>
    <div class="item"><a [routerLink]="['/contact']">Contact Us</a></div>
  </div>
  <div class="team__meet">
    <h2>MEET THE TEAM</h2>
    <div class="team__meet-items">
      <div class="item" *ngFor="let coach of coaches">
        <img loading="lazy" src="{{coach.photoUrl.url}}" alt="{{coach.firstName}}">
        <div class="item__content">
          <h5>{{ coach.firstName }} {{ coach.lastName }}</h5>
          <p>{{ coach.title }}</p>
          <p><a [routerLink]="['/team-details', coach.id]" class="impact-btn impact-btn-blue">Get to know</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>