<app-home-header></app-home-header>

<!-- SEMINARS -->
<div class="seminars page-wrapper">
  <main class="grey-bg">
    <div class="seminars__container container">
      <!--SEMINARS HEADER - SWIPER-->
      <section class="slider__area slider__area-4 p-relative">
        <div class="slider-active swiper-container" #heroSliderContainer >
          <div class="swiper-wrapper">
            <div class="seminars__header single-slider single-slider-2 slider__height-3 mt-10 d-flex align-items-center swiper-slide" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fseminar-drawing-light.PNG?alt=media&token=ff487fe7-0c9f-412f-a464-c1bab75467e5)'">
              <div class="container">
                <div class="row">
                  <div class="col-xl-7 col-lg-6 col-md-8 col-sm-10 col-12">
                    <div class="slider__content slider__content-4 pr-50">
                      <h5 class="seminars__header__pretitle">DISCIPLE-MAKING CHURCH</h5>
                      <h1 class="seminars__header__title">Seminars</h1>
                      <hr class="custom-hr">
                      <p class="seminars__header__subtitle">Structure your church to make and multiply disciples with the Disciple-Making Church strategy. We come to <strong>you</strong> and train your staff to implement a proven strategy to grow your ministry.</p>
                      <a href="/seminar-form" class="os-btn seminars__header-button">Book a Seminar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-80">
        <div class="container custom-container">
          <div class="seminars__overview row justify-content-center">
            <div class="col-xl-8">
              <div class="section__title-wrapper text-center mb-55">
                <div class="section__title mb-10 mt-50">
                  <h2>OVERVIEW</h2>
                </div>
                <div class="section__sub-title">
                  <p>Impact Discipleship Ministries exists to inspire people and churches to be and build disciples. One of the best ways we do that is by providing training seminars to churches that need help implementing a proven strategy to grow their ministry. Our team comes to you and facilitates a half-day training seminar where you will learn the mission, model, and methods you need to multiply disciples. Read more about how our seminars can help you below.</p>
                  <br>
                  <p>Read more details below on our Disciple-Making Church Seminar below. Before you begin, you might consider one of our <a>free consultations</a> from our Impact team to introduce our ministry and assess if our Seminar is right for you.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="seminars__prices-row row mt-80 pb-50">
            <!--TODO: style this title better-->
            <!-- <div class="seminars__prices-row-title section__title mb-40">
              <h2>PRICING</h2>
            </div> -->
            <div class="seminars__prices-row__box col-xl-4 col-md-6 col-sm-9">
              <div class="title">IN PERSON, LIVE</div>
              <div class="price">${{webConfig.inpersonSeminarCost}}</div>
              <ul class="custom-bullets">
                <li class="perks">Experienced Trainer</li>
                <li class="perks">A Proven Church Multiplication Strategy</li>
                <li class="perks">Tools + Resources for Multiplication</li>
                <li class="perks">Follow-up Support</li>
              </ul>
              <a href="/seminar-form" class="os-btn">GET STARTED</a>
            </div>
            <div class="seminars__prices-row__box col-xl-4 col-md-6 col-sm-9">
              <div class="title">ONLINE VIDEO TRAINING</div>
              <div class="price">${{webConfig.onlineSeminarCost}}</div>
              <ul class="custom-bullets">
                <li class="perks">Experienced Trainer (Recordings)</li>
                <li class="perks">A Proven Church Multiplication Strategy</li>
                <li class="perks">Tools + Resources for Multiplication</li>
                <li class="perks">Contact us for Follow-up Support</li>
              </ul>
              <!--TODO: link to store item-->
              <a href="/store" class="os-btn">GET STARTED</a>
            </div>
          </div>

          <div class="seminars__description banner__inner p-relative z-index-1 pt-50">
            <div class="row justify-content-center align-items-center">
              <div class="seminars__description__text-area col-xl-5 col-lg-5 d-flex z-index-1">
                <div class="seminars__description__title mb-10">
                  <h4>WHAT YOU <strong> GET</strong></h4>
                  <hr class="custom-hr">
                </div>
                <ul class="custom-bullets">
                  <li>Experienced Trainer</li>
                  <li>A Proven Church Multiplication Strategy</li>
                  <li>Tools + Resources for Multiplication</li>
                  <li>Follow-up Support</li>
                </ul>
              </div>
              <div class="col-xl-5 col-lg-5">
                <div *ngIf="!isPlaying" class="video__area-df mb-60" style="width: 100%; background-image: url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fseminar-video-thumbnail.png?alt=media&token=7b647fcd-7a81-4f1a-820f-b736210a1ae9)">
                  <div class="container">
                    <div class="video__content text-center">
                      <div class="video__button mb-60">
                        <a (click)="playVideo()" class="cursor-pointer">
                          <i class="fas fa-play"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="isPlaying" id="video-overlay"  class="video__area-df mb-60">
                  <youtube-player [videoId]="'Civbm8KNXhE'" [width]="443" [height]="250" suggestedQuality="highres" [playerVars]="{'autoplay': 1}"></youtube-player>
                </div>
              </div>
            </div>
          </div>

          <div class="seminars__large-title mt-80 pt-80">
            <h1>Approved Plan for <strong>Growing</strong> Your Church</h1>
          </div>

          <div class="services banner__area pt-95 mb-60">
            <div class="box-25">
              <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 banner__column">
                  <div class="banner__item mb-30 p-relative">
                    <div class="banner__thumb fix">
                      <div class="w-img">
                        <img [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fseminar-mission.PNG?alt=media&token=ebc2c4fd-316c-4039-abc6-2446497983bc'" alt="banner" height="350px" />
                      </div>
                    </div>
                    <div class="banner__content p-absolute transition-3 text-white">
                      <h5>
                        <div class="services__title">The Mission:</div>
                      </h5>
                      <div class="services__text">The first portion of our seminar revolves around defining the mission Jesus left for us in the Great Commission: to make disciples. What is a disciple, and why do we need to make them? </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 banner__column">
                  <div class="banner__item mb-30 p-relative">
                    <div class="banner__thumb fix">
                      <div class="w-img">
                        <img [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fseminar-model.PNG?alt=media&token=220fe635-2bb7-41c6-a2f3-d8117c64bc64'" alt="banner" height="350px" />
                      </div>
                    </div>
                    <div class="banner__content p-absolute transition-3 text-white">
                      <h5>
                        <div class="services__title">The Model:</div>
                      </h5>
                      <div class="services__text">The second portion of our seminar points us toward the perfect model for disciple-makers: Jesus. We look at how He modeled disciple-making for His own disciples in His own ministry.</div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 banner__column">
                  <div class="banner__item mb-30 p-relative">
                    <div class="banner__thumb fix">
                      <div class="w-img">
                        <img [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fseminar-method.PNG?alt=media&token=cd1365ca-3b95-4b6c-8874-7ffc3aeaa830'" alt="banner" height="350px" />
                      </div>
                    </div>
                    <div class="banner__content p-absolute transition-3 text-white">
                      <h5>
                        <div class="services__title">The Method:</div>
                      </h5>
                      <div class="services__text">The final portion of our seminar shows you the methods Jesus used to multiply disciples during His ministry on Earth and ensured that they would continue to multiply once He left. </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 banner__column">
                  <div class="banner__item mb-30 p-relative">
                    <div class="banner__thumb fix">
                      <div class="w-img">
                        <img [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fseminar-takeaway.PNG?alt=media&token=2a489db1-4342-4386-8abd-70c16261c88e'" alt="banner" height="350px" />
                      </div>
                    </div>
                    <div class="banner__content p-absolute transition-3 text-white">
                      <h5>
                        <div class="services__title">The Takeaways:</div>
                      </h5>
                      <div class="services__text">You’ll walk away with a full understanding of the target, strategy, environments, and leadership development needed to create a sustainable disciple making ministry in your church.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
    <section class="countries-banner page__title p-relative d-flex align-items-center mt-80 mb-80" [style.background-image]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fyellow-world-banner.PNG?alt=media&token=82459d72-cfa0-4294-adba-d9dfdd336b7f)'">
      <div class="row">
        <h1 class="mb-50">START TODAY</h1>
        <div class="col-xl-5 countries-banner__left">
          <div>Is your current discipleship plan working? Are your small groups producing results? Are disciples being reproduced? Are leaders trained and equipped to multiply more disciples?
            <br>
            You want to see your church actively growing. We can help you accomplish all of these things and more. Let’s get started together!</div>
        </div>
        <div class="col-xl-5 countries-banner__right">
          <dx-form [formData]="consultationRequest" [colCount]="2">
            <dxi-item dataField="firstName" [label]="{ visible: false }" [editorOptions]="{ placeholder: 'First Name' }"></dxi-item>
            <dxi-item dataField="lastName" [label]="{ visible: false }" [editorOptions]="{ placeholder: 'Last Name' }"></dxi-item>
            <dxi-item dataField="email" [label]="{ visible: false }" [editorOptions]="{ placeholder: 'Email' }" [colSpan]="2"></dxi-item>
            <dxi-item dataField="message" editorType="dxTextArea" [label]="{ visible: false }" [editorOptions]="{ placeholder: 'Message' }" [colSpan]="2"></dxi-item>
          </dx-form>
          <button class="os-btn bg-white mt-30" (click)="handleFormSubmit()">GET MY FREE CONSULTATION</button>
        </div>
      </div>
    </section>

    <!-- testimonials -->
    <app-testimonials [testimonialType]="'Seminars'"></app-testimonials>
  </main>
</div>

<app-footer></app-footer>
