<app-home-header></app-home-header>

<div class="seminars">
  <app-header
    [backgroundUrl]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fseminars-header.PNG?alt=media&token=a3d6bae8-00d0-43d3-ae8e-8ab356ce1cfc'"
    [pretitle]="'Disciple-Making Church'"
    [title]="'Seminars'"
    [description]="'Structure your church to make and multiply disciples with the Disciple-Making Church strategy. We come to you and train your staff to implement a proven strategy to grow your ministry.'"
    [buttonLink]="'/team'"
    [buttonText]="'Book a Seminar'"
  ></app-header>
  <div class="seminars__overview">
    <h2 appAnimate="fadeInUp">OVERVIEW</h2>
    <p appAnimate="fadeInUpTwo">Impact Discipleship Ministries exists to inspire people and churches to be and build disciples. One of the best ways we do that is by providing training seminars to churches that need help implementing a proven strategy to grow their ministry. Our team comes to you and facilitates a half-day training seminar where you will learn the mission, model, and methods you need to multiply disciples. Read more about how our seminars can help you below. Read more details below on our Disciple-Making Church Seminar below. Before you begin, you might consider one of our <a>free consultations</a> from our Impact team to introduce our ministry and assess if our Seminar is right for you.</p>
  </div>
  <div class="seminars__prices">
    <div class="item">
      <div class="title">IN PERSON, LIVE</div>
      <div class="price">${{webConfig.inpersonSeminarCost}}</div>
      <ul class="custom-bullets">
        <li class="perks">Experienced Trainer</li>
        <li class="perks">A Proven Church Multiplication Strategy</li>
        <li class="perks">Tools + Resources for Multiplication</li>
        <li class="perks">Follow-up Support</li>
      </ul>
      <a href="/seminar-form" class="impact-btn">GET STARTED</a>
    </div>
    <div class="item">
      <div class="title">ONLINE VIDEO TRAINING</div>
      <div class="price">${{webConfig.onlineSeminarCost}}</div>
      <ul class="custom-bullets">
        <li class="perks">Experienced Trainer (Recordings)</li>
        <li class="perks">A Proven Church Multiplication Strategy</li>
        <li class="perks">Tools + Resources for Multiplication</li>
        <li class="perks">Contact us for Follow-up Support</li>
      </ul>
      <a href="/store" class="impact-btn">GET STARTED</a>
    </div>
  </div>
  <div class="seminars__offers">
    <div class="content">
      <h1>WHAT YOU <strong> GET</strong></h1>
      <hr appAnimate="fadeInLeftToRight" class="slider-hr slider-hr-w60 slider-hr-thick">
      <ul class="custom-bullets">
        <li appAnimate="fadeInUpTwo">Experienced Trainer</li>
        <li appAnimate="fadeInUpThree">A Proven Church Multiplication Strategy</li>
        <li appAnimate="fadeInUpFour">Tools + Resources for Multiplication</li>
        <li appAnimate="fadeInUpFive">Follow-up Support</li>
      </ul>
    </div>

    <div class="video">
      @if (!isPlaying) {
        <div
          class="video__container"
          style="background-image: url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fseminar-video-thumbnail.png?alt=media&token=9fb83005-f1c7-4973-884c-98436560271b)"
          >
          <div class="container">
            <div class="video__content text-center">
              <div class="video__button">
                <a (click)="playVideo()" (keydown.enter)="playVideo()" (keydown.space)="playVideo()" tabindex="0" role="button" class="cursor-pointer">
                  <i class="fas fa-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      }

      @if (isPlaying) {
        <div class="video__container">
          <div class="video__player-wrapper">
            <youtube-player
              [videoId]="'Civbm8KNXhE'"
              [playerVars]="{ autoplay: 1 }"
              class="video__player"
            ></youtube-player>
          </div>
        </div>
      }
    </div>
  </div>
  <hr appAnimate="fadeInLeftToRight" class="solid-line mt-60 mb-60">
  <div class="seminars__missions">
    <h1 class="main-title">Approved Plan for <br><strong appAnimate="fadeInDown">Growing</strong> Your Church</h1>
    <div class="content">
      <div class="content__item">
        <img loading="lazy" [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fseminar-mission.PNG?alt=media&token=1163d382-936e-4625-8995-9dda8986e751'" alt="banner" />
        <div class="details">
          <div class="details__title">The Mission:</div>
          <div class="details__description">The first portion of our seminar revolves around defining the mission Jesus left for us in the Great Commission: to make disciples. What is a disciple, and why do we need to make them?</div>
        </div>
      </div>
      <div class="content__item">
        <img loading="lazy" [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fseminar-model.PNG?alt=media&token=aee4f0a7-ce6d-40e3-9905-10e851008dd3'" alt="banner" />
        <div class="details">
          <div class="details__title">The Model:</div>
          <div class="details__description">The second portion of our seminar points us toward the perfect model for disciple-makers: Jesus. We look at how He modeled disciple-making for His own disciples in His own ministry.</div>
        </div>
      </div>
      <div class="content__item">
        <img loading="lazy" [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fseminar-method.PNG?alt=media&token=87bb6f25-226b-4cd5-b681-d002be26f94c'" alt="banner" />
        <div class="details">
          <div class="details__title">The Method:</div>
          <div class="details__description">The final portion of our seminar shows you the methods Jesus used to multiply disciples during His ministry on Earth and ensured that they would continue to multiply once He left.</div>
        </div>
      </div>
      <div class="content__item">
        <img loading="lazy" [src]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fseminar-takeaway.PNG?alt=media&token=2fc66e00-43c3-42e1-90b9-70c346d63da7'" alt="banner" />
        <div class="details">
          <div class="details__title">The Takeaways:</div>
          <div class="details__description">You’ll walk away with a full understanding of the target, strategy, environments, and leadership development needed to create a sustainable disciple making ministry in your church.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="seminars__form">
    <div class="content" [style.background-image]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fyellow-world-banner.PNG?alt=media&token=a2f4b0e2-dacb-4101-b6f6-8de82c5de4dc)'">
      <div class="content__details">
        <p class="title">START TODAY</p>
        <p class="description">
          Is your current discipleship plan working? Are your small groups producing results? Are disciples being reproduced? Are leaders trained and equipped to multiply more disciples?
          You want to see your church actively growing. We can help you accomplish all of these things and more. Let’s get started together!
        </p>
      </div>
      <div class="content__form">
        <app-dynamic-form [formId]="consultationRequestFormId" [submitButtonText]="'GET MY FREE CONSULTATION'"></app-dynamic-form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>