<app-home-header></app-home-header>

<div class="store">
  <app-header
    [backgroundUrl]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fstore-header.PNG?alt=media&token=3c39ab6a-0a64-496a-bd7e-631f17f1a51c'"
    [pretitle]="'DISCIPLE-MAKING RESOURCES'"
    [title]="'E-BOOKS'"
    [buttonClick]="true"
    [buttonText]="'FREE store'"
    (buttonClickAction)="showFreeItems()"
    [buttonClick2]="true"
    [buttonText2]="'DISCIPLE-MAKING SERIES'"
    (buttonClickAction2)="showDiscipleMakingSeries()"
  ></app-header>
  <div class="store__container">
    <app-store-sidebar
      (searchEvent)="searchProducts($event)"
      (categoryFilterEvent)="filterProductsByCategory($event)"
      (viewAllProductsEvents)="viewAllProducts()"
    ></app-store-sidebar>
    <div class="store__container-content">
      <dx-select-box
        [(value)]="selectedFilter"
        [dataSource]="filterOptions"
        displayExpr="text"
        valueExpr="value"
        (onValueChanged)="filterProducts(selectedFilter)"
        placeholder="Select a filter"
        class="store__container-filter"
      ></dx-select-box>
      <div class="store__container-views">
        <div *ngIf="!showSeriesInMainView" class="products">
          <app-store-postbox-item *ngFor="let product of filteredProductItems" [product]="product"></app-store-postbox-item>
        </div>
        <div *ngIf="showSeriesInMainView" class="series">
          <h1>SHOP BY SERIES</h1>
          <div class="series__list">
            <div class="series__list-item" *ngFor="let series of seriesItems">
              <img loading="lazy" [src]="series?.imageUrl?.url" alt="blog-1"/>
              <dx-button class="impact-btn impact-btn-blue" (onClick)="filterProductsBySeries(series)">{{ series.name }}</dx-button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!showSeriesInMainView" class="store__container-pagination">
        <app-pagination [data]="filteredProductItems" [paginate]="paginate" (setPage)="setPage($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>