<div class="services">
  @for (item of services; track item) {
    <div>
      <div class="services__item">
        <a [href]="item.link">
          <img loading="lazy" [src]="item.img" alt="banner" />
        </a>
        <div class="services__item-content">
          <div [innerHTML]="item.title" class="title"></div>
          <div [innerHTML]="item.description" class="description"></div>
          <a [href]="item.link"  class="impact-btn impact-btn-thin">READ MORE</a>
        </div>
      </div>
    </div>
  }
</div>