@import '../../../../assets/theme/scss/variables';

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px 0;
  justify-content: center;
  > div {
    flex: 0 0 calc((100% - 15px * 3) / 4);
  }
  @media #{$xxs,$xs}{
    padding: 0;
    gap: 10px;
  }

  &__item {
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 7px;
    @media #{$xxs,$xs}{
      border-radius: 0;
    }
    img {
      border-radius: 10px 0 0 10px;
      height: 175px;
      width: 175px;
      @media #{$xxs,$xs}{
        border-radius: 0;
        height: 125px;
        width: 125px;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding: 15px;
      @media #{$xxs,$xs} {
        padding: 10px;
      }
      .title {
        font-size: 22px;
        font-weight: 800;
        color: $theme-color;
        text-transform: uppercase;
        line-height: 1em;
        @media #{$sm,$xs} {
          font-size: 18px;
        }
        @media #{$xxs} {
          font-size: 13px;
        }
      }
      .description {
        color: #ffffff;
        font-size: 12px;
        @media #{$xxs,$xs} {
          font-size: 10px;
          line-height: 15px;
        }
      }
      a {
        @media #{$xxs} {
          font-size: 9px;
          padding: 0;
          line-height: 24px;
          height: 27px;
        }
      }

    }
  }

  @media #{$md,$lg,$laptop} {
    > div {
      flex: 0 0 calc((100% - 15px) / 2);
    }
  }

  @media #{$xxs,$xs,$sm} {
    > div {
      flex: 0 0 100%;
    }
  }
}