@import '../../../../assets/theme/scss/variables';

.banner {
  &__column {
    margin: 0 20px;
  }
  &__item, &__column {
    width: 350px;
  }
}

.services {
  &__title {
    margin-bottom: 17px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
  }
  &__text {
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    &:hover{
      color: $theme-color;
    }
  }
}