<div class="services banner__area pt-95 mb-60">
  <div class="box-25">
    <div class="row justify-content-center">
      <div *ngFor="let item of services" class="col-xl-2 col-lg-2 col-md-4 banner__column">
        <div class="banner__item mb-30 p-relative">
          <div class="banner__thumb fix">
            <a [routerLink]="[item.link]" class="w-img">
              <img [src]="item.img" alt="banner" height="350px" />
            </a>
          </div>
          <div class="banner__content p-absolute transition-3 ">
            <h5>
              <a [routerLink]="[item.link]" [innerHTML]="item.title" class="services__title"></a>
            </h5>
            <a [routerLink]="[item.link]" [innerHTML]="item.description" class="services__text"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>