@use '../../../../../assets/theme/scss/variables';

.podcast-item {
  display: flex;
  flex-direction: column;
  &__image {
    img {
      height: 250px;
      object-fit: contain;
      display: block;
      padding: 10px;
      @media #{variables.$xxs,variables.$xs} {
        width: 100%;
        height: 125px;
      }
    }
  }
}


