<app-home-header></app-home-header>

<div class="store">
  <app-header
    [backgroundUrl]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fstore-header.PNG?alt=media&token=3c39ab6a-0a64-496a-bd7e-631f17f1a51c'"
    [pretitle]="'DISCIPLE-MAKING RESOURCES'"
    [title]="'IMPACT BOOKS'"
    [buttonClick]="true"
    [buttonText]="'Free EBooks'"
    (buttonClickAction)="goToEbooks()"
  ></app-header>
  <div class="store__container">
    <app-store-sidebar
      (searchEvent)="searchProducts($event)"
      (categoryFilterEvent)="filterProductsByCategory($event)"
      (viewAllProductsEvents)="viewAllProducts()"
    ></app-store-sidebar>
    <div class="store__container-content">
      <div class="store__container-sort">
        <label for="storeSort" class="store__container-sort-label">Sort By</label>
        <select
          id="storeSort"
          class="store__container-filter"
          [value]="selectedFilter"
          (change)="filterProducts($any(+$any($event.target).value))">
          <option value="" disabled [selected]="selectedFilter === null" hidden>Select a filter</option>
          @for (opt of filterOptions; track opt) {
            <option [value]="opt.value">{{ opt.text }}</option>
          }
        </select>
      </div>

      <div class="store__container-views">
        @if (!showSeriesInMainView) {
          <div class="products">
            @for (product of filteredProductItems; track product.id) {
              <app-store-postbox-item [product]="product"></app-store-postbox-item>
            }
            @if (filteredProductItems.length === 0) {
              <p class="text-center pt-30">No products found.</p>
            }
          </div>
        }
        @if (showSeriesInMainView) {
          <div class="series">
            <h1>SHOP BY SERIES</h1>
            <div class="series__list">
              @for (series of seriesItems; track series.id) {
                <div class="series__list-item">
                  <img loading="lazy" [src]="series?.imageUrl?.url" alt="series"/>
                  <button type="button" class="impact-btn impact-btn-blue" (click)="filterProductsBySeries(series)">{{ series.name }}</button>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<app-cart-drawer></app-cart-drawer>
