<app-home-header></app-home-header>

<main>

  <section class="blog__area pt-55">
    <app-breadcrumb [currentPageName]="blog?.title" [bgImg]="blog?.mainImage?.url" [previousLink]="'/blog'" [previousLinkName]="'Blogs'" [isDark]="true"></app-breadcrumb>
    <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-8">
            <div class="postbox__title mb-55">
              <div class="blog__meta">
                <span><a href="#">{{blog?.subject}} </a></span>
                <span>/ {{blog?.date.toDate() | date}}</span>
              </div>
            </div>
            <div class="postbox__wrapper mb-70 mt-30">
              <div class="postbox__text">
                <!--TODO: Wondering if we can maybe add images through the html editor instead of using blog.extraImages-->
                <p [innerHTML]="blog?.blogText"></p>
              </div>
            </div>
            <div class="postbox__share mb-95">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="postbox__social">
                    <span>Share to friends:</span>
                    <ul>
                      <li>
                        <a [href]="'https://www.facebook.com/sharer/sharer.php?u=https://impactdisciples.com/blog/' + blog?.id" target="_blank">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a [href]="'https://twitter.com/intent/tweet?url=https://impactdisciples.com/blog/' + blog?.id" target="_blank">
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a [href]="'mailto:?body=https://impactdisciples.com/blog/' + blog?.id" target="_blank">
                          <i class="fa fa-envelope"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="postbox__related-title">
              <h3>You Might Also Like</h3>
            </div>
            <div class="postbox__related-item">
              <div class="row">
                <div *ngFor="let b of relatedBlogs" class="col-xl-6 col-lg-6 col-md-6">
                  <div class="blog__item mb-30">
                    <div class="blog__thumb fix">
                      <a [routerLink]="['/pages/blog-details', b?.id]" class="w-img">
                        <img [src]="b?.mainImage?.url" alt="blog">
                      </a>
                    </div>
                    <div class="blog__content">
                      <h4><a [routerLink]="['/pages/blog-details', b?.id]">{{b?.title}}</a></h4>
                      <div class="blog__meta">
                        <span>By <a href="#">{{b?.subject}}</a></span>
                        <span>/ {{b?.date}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="postbox__line mt-65"></div>
          </div>
        </div>
    </div>
  </section>

</main>

<!-- footer start -->
<app-footer></app-footer>
<!-- footer end -->
