<div class="testimonial__area grey-bg pt-30 pb-30 mb-70 mt-70">
  <div class="row testimonial__wrapper pb-0">
    <div class="col-lg-5 testimonial__left-column">
      <div class="row pb-30 pt-30">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xl-12">
              <div class="section__wrapper mb-40">
                <h1 class="testimonial__title">WHAT THEY <strong>SAY</strong></h1>
                <p>Here is what some of our clients have to say about us. Feel free to reach out to us if you would like to hear more testimonies on specific aspects of our services. We would love to connect you with churches and ministries who have benefitted from our partnership.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="row pb-30 pt-30">
        <div class="col-lg-12">
          <div class="testimonial__slider-active swiper-container">
            <div class="swiper-wrapper">
              <div *ngFor="let item of testimonials" class="testimonail__slider-item swiper-slide">
                <div class="testimonial__image text-center mb-50">
                  <img src="../../../../assets/icons/stars.png" alt="user">
                </div>
                <div class="testimonial__content">
                  <h4>"{{ item.quote }}"</h4>
                  <p>{{item.description}}</p>
                  <p><strong>{{ item.name }}</strong></p>
                </div>
              </div>
            </div>
            <div class="tp-testi-dot"></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>