<app-home-header></app-home-header>
<main class="store">
  <section class="store__area pt-10 pb-100">
    <div class="container-xxl">
      <section class="slider__area slider__area-4 p-relative">
        <div class="slider-active swiper-container" #heroSliderContainer >
          <div class="swiper-wrapper">
            <div class="store__header single-slider single-slider-2 slider__height-3 mt-10 d-flex align-items-center swiper-slide" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fstore-header.PNG?alt=media&token=3c39ab6a-0a64-496a-bd7e-631f17f1a51c)'">
              <div class="row">
                <div class="col-xl-12">
                  <div class="slider__content slider__content-4 pr-50">
                    <h5 class="store__header__pretitle">DISCIPLE-MAKING RESOURCES</h5>
                    <h1 class="store__header__title w-50" (click)="viewBySeries()">EBOOKS</h1>
                    <hr class="slider-hr">
                    <a href="/e-books" class="os-btn os-btn-white">FREE E-BOOKS<i class="fa fa-book ml-10"></i></a>
                    <a (click)="filterProductsBySeries(seriesItems[0])" class="os-btn os-btn-white mr-10">DISCIPLE MAKING SERIES<i class="fa fa-book-open ml-10"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row mt-50 justify-content-between">
        <div class="col-xl-3 col-lg-4">
          <app-store-sidebar
            (searchEvent)="searchProducts($event)"
            (categoryFilterEvent)="filterProductsByCategory($event)"
            (seriesFilterEvent)="filterProductsBySeries($event)"
            (viewAllProductsEvents)="viewAllProducts()"
            [showSeriesInSidebar]="!showSeriesInMainView"
            [seriesItems]="seriesItems"
          ></app-store-sidebar>
        </div>

        <div class="col-xl-8 col-lg-8">
          <div class="blog__wrapper">
            <div *ngIf="!showSeriesInMainView" class="row">
              <div *ngFor="let product of filteredProductItems" class="col-xl-4 col-lg-4 col-md-4">
                <app-store-postbox-item [product]="product"></app-store-postbox-item>
              </div>
            </div>

            <div *ngIf="showSeriesInMainView" class="row justify-content-between">
              <h1>SHOP BY SERIES</h1>
              <div *ngFor="let series of seriesItems" class="series col-xl-6 col-lg-6 col-md-6">
                <img [src]="series?.imageUrl?.url" alt="blog-1"/>
                <dx-button class="impact-btn impact-btn-black-bg mt-10" (onClick)="filterProductsBySeries(series)">{{ series.name }}</dx-button>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12">
                <div class="shop-pagination-wrapper">
                  <app-pagination [data]="filteredProductItems" [paginate]="paginate" (setPage)="setPage($event)">
                  </app-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
