@use '../../../../assets/theme/scss/variables';

::ng-deep .e-books {
  &__container {
    display: flex;
    padding: 50px;

    @media #{variables.$xxs,variables.$xs} {
      flex-direction: column;
      padding: 10px;
    }
    &-content {
      display: flex;
      flex-direction: column;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin: 0 25px 0 50px;
      padding: 25px 50px;
      background: #fff;
      align-items: stretch;
      @media #{variables.$xxs,variables.$xs} {
        gap: 15px;
        margin: 10px 0 0 0;
        padding: 0; 
        justify-content: center;
      }
    }
    &-pagination {
      margin: 20px 50px;
      @media #{variables.$xxs,variables.$xs} {
        margin: 20px 5px;
      }
      li {
        background-color: #ffffff;
      }
    }
  }
}