<app-home-header></app-home-header>

<!-- contact -->
<main class="contact">
  <section class="contact__area pb-100 pt-95">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="contact__info">
            <h3>Find us here.</h3>
            <ul class="mb-55">
							<li class="d-flex mb-35">
								<div class="contact__info-icon mr-20">
									<i class="fal fa-map-marker-alt"></i>
								</div>
								<div class="contact__info-content">
									<h6>Address:</h6>
									<span>{{ impactDisciplesInfo.address }}</span>
								</div>
							</li>
							<li class="d-flex mb-35">
								<div class="contact__info-icon mr-20">
									<i class="fal fa-envelope-open-text"></i>
								</div>
								<div class="contact__info-content">
									<h6>Email:</h6>
									<span>{{ impactDisciplesInfo.email }}</span>
								</div>
							</li>
							<li class="d-flex mb-35">
								<div class="contact__info-icon mr-20">
									<i class="fal fa-phone-alt"></i>
								</div>
								<div class="contact__info-content">
									<h6>Number Phone:</h6>
									<span>{{ impactDisciplesInfo.phone }}</span>
								</div>
							</li>
						</ul>
						<p>
							If we can answer any questions or offer you more information, we will be happy to have a conversation with you. The quickest way to get in contact 
							with us is through email, but feel free to reach out to us using any of the information below.
						</p>
						<div class="contact__social">
							<ul>
								<li *ngIf="impactDisciplesInfo.facebook"><a [href]="impactDisciplesInfo.facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li *ngIf="impactDisciplesInfo.twitter"><a [href]="impactDisciplesInfo.facebook"><i class="fab fa-twitter"></i></a></li>
								<li *ngIf="impactDisciplesInfo.instagram"><a [href]="impactDisciplesInfo.facebook"><i class="fab fa-instagram"></i></a></li>
								<li *ngIf="impactDisciplesInfo.youtube"><a [href]="impactDisciplesInfo.facebook"><i class="fab fa-youtube"></i></a></li>
								<li *ngIf="impactDisciplesInfo.linkedin"><a [href]="impactDisciplesInfo.facebook"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- TODO: Set up contact form -->
				<div class="col-xl-6 col-lg-6">
					<div class="contact__form">
						<h3>Contact Us.</h3>
							<dx-form
								#contactFormComponent
								[formData]="contactForm"
								[colCount]="2"
								labelLocation="top"
								[showColonAfterLabel]="false"
							>
								<dxi-item dataField="name" [label]="{ text: 'Name' }" [isRequired]="true"></dxi-item>
								<dxi-item dataField="email" [label]="{ text: 'Email' }" [isRequired]="true"></dxi-item>
								<dxi-item dataField="subject" [colSpan]="2" [label]="{ text: 'Subject' }" [isRequired]="true"></dxi-item>
								<dxi-item dataField="message" [colSpan]="2" editorType="dxTextArea" [label]="{ text: 'Message' }" [isRequired]="true" [editorOptions]="{ height: 155 }"></dxi-item>
							</dx-form>
							<button type="submit" class="os-btn os-btn-black f-right mt-30">Send Message</button>
						<p class="ajax-response"></p>
					</div>
				</div>
			</div>
    </div>
	</section>
</main>

<app-footer></app-footer>