<app-home-header></app-home-header>

<main class="seminar-form">
  <app-breadcrumb [currentPageName]="'Seminar Request Form'" [previousLinkName]="'Seminars'" [previousLink]="'/seminars'"></app-breadcrumb>

  <section class="seminar-form__area pb-100 mt-30">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8">
          <div class="seminar-form__info">
            <app-dynamic-form [formId]="formId" [submitButtonText]="'Request to Book a Seminar'"></app-dynamic-form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
