<app-home-header></app-home-header>
<!-- our story -->
<main>
  <div class="story">
    <div class="banner__area-2 pb-60">
      <div class="container-fluid p-0">
        <div class="row g-0 justify-content-center align-items-center">
          <div class="story__text-area col-xl-4 col-lg-4 d-flex">
            <h4 appAnimate="fadeInUp" class="story__title mb-10">OUR STORY BEGAN WITH A <strong>NEED</strong></h4>
            <p appAnimate="fadeInUpTwo">When Ken Adams began pastoring Crossroads Church in 1989, he envisioned that church becoming a part of the mission and movement of Jesus by making and multiplying disciples. The church needed a curriculum that would drive the goals and strategy its leadership had established, but there was a problem…</p>
            <a appAnimate="fadeInUpThree" [routerLink]="['/history']" class="impact-btn impact-btn-blue">
              <span class="banner__area-2 pb-30">READ MORE</span>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4">
            <div class="w-img">
              <img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHome%2Fstory-1.PNG?alt=media&token=c1daf9a0-35db-4a1e-b502-71d23c701762" alt="banner">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner__area-2 pb-60">
      <div class="container-fluid p-0">
        <div class="row g-0 justify-content-center align-items-center">
          <div class="col-xl-4 col-lg-4">
            <div class="w-img">
              <img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHome%2Fstory-2.jpg?alt=media&token=35028e2e-f4fe-40ca-8d92-042b2cda016d" alt="banner">
            </div>
          </div>
          <div class="story__text-area col-xl-4 col-lg-4 d-flex">
            <h4 appAnimate="fadeInUp" class="story__title mb-10">MORE ABOUT <strong>OUR MINISTRY</strong></h4>
            <p appAnimate="fadeInUpTwo">Did you know that we have Disciple-Making Churches and pastors all over the world in our disciple making network? We’d love to connect you to other ministry partners pursuing the same goals with the same passion and dedication as you.</p>
            <a appAnimate="fadeInUpThree" [routerLink]="['/history']" class="impact-btn impact-btn-blue">
              <span class="banner__area-2 pb-30">READ MORE</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__area-2 pb-60">
      <div class="container-fluid p-0">
        <div class="row g-0 justify-content-center align-items-center">
          <div class="story__text-area col-xl-4 col-lg-4 d-flex">
            <h4 appAnimate="fadeInUp" class="story__title mb-10">WHY CHOOSE <strong>US</strong></h4>
            <p appAnimate="fadeInUpTwo">Jesus spent time one-on-one with His disciples, but then He took them out into the wide world to apply what they had learned with Him in a small group setting. Our director began his ministry based on Jesus’ strategy using Jesus’ methods in the early 1990s and has continued refining those efforts to the present day.</p>
            <a appAnimate="fadeInUpThree" [routerLink]="['/history']" class="impact-btn impact-btn-blue">
              <span class="banner__area-2 pb-30">READ MORE</span>
            </a>
          </div>
          <div class="col-xl-4 col-lg-4">
            <div class="w-img">
              <img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHome%2Fstory-3.jpg?alt=media&token=4a367383-4b7e-4a9a-a696-934086475cd0" alt="banner">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- HISTORY HEADER -->
  <section class="slider__area p-relative">
    <div class="slider-active swiper-container" #heroSliderContainer>
      <div class="swiper-wrapper">
        <div class="single-slider slider__height d-flex align-items-center swiper-slide" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fhistory-header.PNG?alt=media&token=f3e35d82-8571-4cee-8a7a-db7894d21578)'">
          <div class="container h-100 d-flex justify-content-center">
            <h2 class="history-header__title title-xl">OUR HISTORY</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- HISTORY TIMELINE -->
  <div class="history-section banner__area">
    <div class="container-xxl">
      <div class="banner__inner p-relative z-index-1 pt-50">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-5 col-lg-5 d-flex history-section__text-area z-index-1">
            <div class="history-section__title mb-10">
              <h4 appAnimate="fadeInUp">OUR <strong> MISSION</strong></h4>
              <hr appAnimate="fadeInLeftToRight" class="custom-hr">
            </div>
            <p appAnimate="fadeInUpThree"><strong>Impact Discipleship Ministries exists to inspire people and churches to be and build disciples of Jesus Christ.</strong></p>
            <p appAnimate="fadeInUpThree">We provide disciple making resources, training, and consultations. We help people explore the concepts of disciple making, we educate people and churches in the principles of disciple making, we assist people and churches to establish disciple-making movements, and engage individuals and churches in developing movements of multiplication.</p>
          </div>
          <div class="col-xl-5 col-lg-5">
            @if (!isPlaying) {
              <div class="video__area-df mb-60" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fmap.jpg?alt=media&token=9db9c6f4-c852-4722-807e-5fa5d93f881a)">
                <div class="container">
                  <div class="video__content text-center">
                    <div class="video__button mb-60">
                      <a (click)="playVideo()" (keydown.enter)="playVideo()" (keydown.space)="playVideo()" tabindex="0" role="button" class="cursor-pointer">
                        <i class="fas fa-play"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (isPlaying) {
              <div id="video-overlay"  class="mb-60">
                <youtube-player [videoId]="'HxKSa24hF60'" [width]="550" [height]="300" suggestedQuality="highres" [playerVars]="{'autoplay': 1}"></youtube-player>
              </div>
            }
          </div>
        </div>

        <hr class="light-hr z-index-1 p-relative">

        <div class="text-overlay">
          <span class="large-text">1989</span>
          <span appAnimate="fadeInUpTwo" class="small-text">1989</span>
        </div>

        <div class="timeline">
          <div class="timeline-dot"></div>
          <div class="timeline-section row">
            <div class="timeline-item-left col-lg-5 mr-60">
              <div class="timeline-content">
                <p appAnimate="fadeInUp">Ken Adams was called as the first pastor of Crossroads Church in Newnan, Georgia in 1989. He was passionate about the Great Commission and wanted his church to be a part of the movement and mission of Jesus. Ken wanted everything at Crossroads to revolve around being and building disciples of Jesus.</p>
              </div>
            </div>
            <div class="timeline-img-col col-lg-5 ml-60">
              <img loading="lazy" class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FContent%2Fhistory-1.jpg?alt=media&token=b97d532d-c943-429f-b81b-02f428d6ed06" alt="Image 1">
            </div>
          </div>

          <div class="timeline-section row">
            <div class="timeline-img-col col-lg-5 mr-60">
              <img loading="lazy" class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FContent%2Fhistory-2.PNG?alt=media&token=34a67ae1-7124-405a-b739-00395a6a5659" alt="Image 2">
            </div>
            <div class="timeline-item-right col-lg-5">
              <div class="timeline-content">
                <p appAnimate="fadeInUp">In the early 1990s, Crossroads was well on its way multiplying disciples, but the church was having a major problem finding resources that would accomplish its mission. While a lot of resources provided insight on how to have a discipleship program in a church, there were few resources that taught how to build a church that entirely revolved around a Jesus-style strategy for disciple making.</p>
              </div>
            </div>
          </div>

          <div class="timeline-section row">
            <div class="timeline-item-left col-lg-5">
              <div class="timeline-content">
                <p appAnimate="fadeInUp">Out of this need, Ken began writing his own curriculum for Crossroads. He emphasized important topics in his writing like how to define a disciple, how to train a disciple, how to multiply disciples, and how to create church and small group environments that multiply disciples. Ken’s curriculum was a huge hit with the Crossroads, and pretty soon, disciples and small groups were multiplying exponentially in the church.</p>
              </div>
            </div>
            <div class="timeline-img-col col-lg-5 ml-60">
              <img loading="lazy" class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FContent%2Fhistory-3.PNG?alt=media&token=75dcda00-f148-489d-a885-794276e2235c" alt="Image 3">
            </div>
          </div>

          <div class="timeline-section row">
            <div class="timeline-img-col col-lg-5 mr-60">
              <img loading="lazy" class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FContent%2Fhistory-4.PNG?alt=media&token=23516f82-74de-423a-adb5-12e49531678e" alt="Image 4">
            </div>
            <div class="timeline-item-right col-lg-5">
              <div class="timeline-content">
                <p appAnimate="fadeInUp">Under Ken’s leadership, Crossroads has grown to 3,000+ in attendance, meets on three campuses, and has planted eight other churches as of 2020.
                  In 2001, Ken decided to make his resources available to other churches. He founded Impact Discipleship Ministries as a non-profit of Crossroads Church specifically for the purpose of providing disciple making resources and training.
                  Today, Impact Discipleship Ministries serves pastors, churches, and individuals all over the world.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-overlay">
          <span class="large-text">2019</span>
          <span appAnimate="fadeInUpTwo" class="small-text">2019</span>
        </div>
      </div>
    </div>
  </div>

  <!-- COUNTRIES SERVED BANNER -->
  <section class="countries-banner page__title p-relative d-flex align-items-center mt-80 mb-80" [style.background-image]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fyellow-world-banner.PNG?alt=media&token=a2f4b0e2-dacb-4101-b6f6-8de82c5de4dc)'">
    <div class="row justify-content-center">
      <div class="col-xl-5 countries-banner__left">
        <h1 appAnimate="fadeInUp"><strong>15</strong></h1>
        <h3 appAnimate="fadeInUp">Countries with <br> Disciple-Making <br> Churches</h3>
      </div>
      <div class="col-xl-5 countries-banner__right">
        <h3 appAnimate="fadeInUpTwo"><strong>Impact works with churches, pastors, and individuals all over the world to be and build disciples of Jesus.</strong></h3>
        <h5 appAnimate="fadeInUpThree">We currently have Disciple-Making Church partners in the <strong>United States, Montenegro, Brazil, Dominican Republic, Haiti, the Philippines, Zambia, India, Thailand, Kosovo, Albania, Serbia, Italy, Cambodia</strong>, and closed countries that will not be listed here for safety purposes.</h5>
      </div>
    </div>
  </section>


</main>

<app-footer></app-footer>
