@use '../../../../assets/styles/theme/scss/variables';

.subscribe {
  &__area {
    .container-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__title {
    color: variables.$white;
    font-size: 70px;
    font-weight: 600;
    @media #{variables.$xxs} {
      font-size: 42px;
      padding: 0;
    }
  }

  &__description {
    color: variables.$grey-2;
    font-size: 18px;
  }

  &__form {
    display: flex;
    justify-content: center;
    form {
      width: 50%;
      @media #{variables.$xxs,variables.$xs} {
        width: 100%;
      }
    }
    input {
      background: #201f1f;
      color: #ffffff;
      height: 35px;
    }
  }

  &__button {
    border: 1px solid variables.$grey-2;
    color: variables.$grey-2;
    background-color: #201f1f;
  }
}