<div class="impact-modal" [class.impact-modal--open]="isVisible$ | async">
  <div class="impact-modal__backdrop" (click)="onCancel()"></div>
  <div class="impact-modal__dialog course-popup" style="width: 50%; height: 75%;">
    <div class="impact-modal__header">
      <button type="button" class="impact-modal__close" (click)="onCancel()" aria-label="Close">&times;</button>
    </div>
    <div class="impact-modal__body">

  <div class="course-popup-content" *ngIf="isVisible$ | async">
    <div class="course-popup-content__title">{{ courseItem?.title }}</div>
    <div class="course-popup-content__details">
      <div class="course-popup-content__details-item">
        <i class="fa-solid fa-calendar-day"></i>
        <span>{{ customAgendaItem?.item.startDate | date: 'EEEE, MMMM d, y' }}</span>
      </div>
      <div class="course-popup-content__details-item">
        <i class="fa-regular fa-clock"></i>
        <span>{{ customAgendaItem?.item.startDate | date: 'h:mm a' }} - {{ customAgendaItem?.item.endDate | date: 'h:mm a' }}</span>
      </div>
      <div class="course-popup-content__details-item">
        <i class="fa-solid fa-location-dot"></i>
        <span>{{ getRoomName(customAgendaItem?.item.room) }}</span>
      </div>
      <div class="course-popup-content__details-item">
        <i class="fa-solid fa-users"></i>
        <span>Capacity: {{ getCapacity() }} / {{ customAgendaItem?.item.maxParticipants }}</span>
        <span *ngIf="getCapacity() >= customAgendaItem?.item.maxParticipants" style="color: red;">&nbsp;&nbsp;&nbsp;&nbsp;Full</span>
      </div>
    </div>
    <button type="button" *ngIf="!customAgendaItem?.isAssignedToUser" class="course-popup-content__button-add" (click)="addCourse(customAgendaItem.item)">Sign up</button>
    <button type="button" *ngIf="customAgendaItem?.isAssignedToUser" class="course-popup-content__button-remove" (click)="removeCourse(customAgendaItem.item)">Remove</button>
    <div class="coaches">
      <div class="coaches__header">Speakers</div>
      <div class="coaches__wrapper">
        <div *ngFor="let coach of customAgendaItem?.item.coaches" class="coach">
          <div class="coach__img">
            <img loading="lazy" class="transform" [src]="getCoachImg(coach)" [alt]="getCoachName(coach)" width="40">
          </div>
          <div class="coach__details">
            <div class="name">{{ getCoachName(coach) }}</div>
            <div class="title">{{ getCoachTitle(coach) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="course-popup-content__description">
      {{ courseItem.longDescription || courseItem.shortDescription }}
    </div>
  </div>

    </div>
  </div>
</div>
