<header>
  <div id="header-sticky header__area box-25 " [ngClass]="['header__area', sticky ? 'sticky' : '']" id="header-sticky">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-12">
          <!-- logo -->
          <div class="logo">
            <a routerLink="/home">
              <img 
                [src]="impactDisciplesInfo.logo" 
                alt="logo" 
                height="60px" 
                width="65px"
                >
            </a>
          </div>
        </div>

        <!-- nav menu -->
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-1 col-2">
          <div class="header__right p-relative">
            <div class="main-menu main-menu-2 text-center d-none d-lg-block">
              <app-nav-menu></app-nav-menu>
            </div>
            <div class="mobile-menu-btn d-lg-none">
              <a (click)="utilsService.handleOpenMobileMenu()" class="mobile-menu-toggle cursor-pointer">
                <i class="fas fa-bars"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-7 col-10">
          <div class="header__action header__action-2 f-right">
            <ul>
              <li>
                <a class="cart cursor-pointer"><i class="ion-bag"></i> Cart
                  <span>({{ cartService.totalPriceQuantity().quantity }})</span>
                </a>
                <!-- mini cart -->
                <app-mini-cart></app-mini-cart>
              </li>
              <li> <a class="cursor-pointer"><i class="far fa-bars"></i></a>
                <!-- extra info -->
                <app-extra-info></app-extra-info>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- mobile offcanvas start -->
<app-offcanvas></app-offcanvas>
