@import '../../../../assets/theme/scss/variables';

::ng-deep .header {
  background-color: $primary-dark;
  &__area {
    padding: 10px;
    @media #{$sm,$xs}{
      padding-top: 15px;
    }
    @media #{$xxs}{
      padding: 0 10px
    }
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      flex: 1;
      @media #{$xxs,$xs}{
        transform: scale(.8);
      }
    }

    &-main {
      flex: 2;
      text-align: center;
      & ul {
        display: flex;
        justify-content: space-around;
        & li {
          display: inline-block;
          position: relative;
          text-align: left;

          & a {
            display: block;
            color: $white;
            font-weight: 500;
            text-transform: capitalize;
          }
          &.active{
            & a{
              color: $theme-color;
            }
          }
          &.has-dropdown {
            & > a {
              position: relative;
              padding-right: 15px;
              color: $white;
              &::after {
                position: absolute;
                content: "\f107";
                right: -5px;
                top: 60%;
                transform: translateY(-50%);
                font-family: "Font Awesome 5 Pro";
                font-size: 14px;
              }
            }
          }
          &:hover {
            & a {
                color: $theme-color;
            }
            & ul.submenu {
              visibility: visible;
              opacity: 1;
              transform: scaleY(1);
            }
          }
          & ul.submenu {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $white;
            min-width: 200px;
            padding: 15px 0;
            transform: scaleY(0);
            transform-origin: 0 0;
            box-shadow: 0px 15px 30px 0px rgba(0, 3, 143, 0.1);
            opacity: 0;
            visibility: hidden;
            z-index: 11;
            display: flex;
            flex-direction: column;

            & li {
              margin: 0;
              display: block;
              &.active {
                & a {
                  color: $theme-color;
                }
              }
              & a {
                padding: 5px 20px;
                color: $primary-dark;
                &:hover {
                  color: $theme-color;
                }
              }
            }
          }
        }
      }
    }

    &-cart {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      & ul {
        display: flex;
        & li {
          display: inline-block;
          position: relative;
          margin-left: 25px;
          @media #{$xxs} {
            margin-left: 0;
            transform: scale(.8);
          }
          & > a {
            color: $white;
            position: relative;
            display: inline-block;
            position: relative;
            &:last-child {
              margin-right: 0;
            }
            & i {
              color: $white;
              margin-right: 3px;
              font-size: 18px;
            }
          }
          &:hover {
            & > a {
              color: $theme-color;
            }
            & .extra-info {
              visibility: visible;
              opacity: 1;
            }
          }
          & .extra-info {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: $white;
            padding: 20px;
            margin: 0;
            min-width: 220px;
            padding-bottom: 5px;
            border: 1px solid #e1e1e1;
            z-index: 9;
            max-height: 400px;
            overflow: auto;
            visibility: hidden;
            opacity: 0;
            transition: .3s;
            & li {
              display: block;
              margin-left: 0;
              margin-bottom: 10px;
              & ul {
                & li {
                  margin-bottom: 0;
                  & a {
                    padding: 5px 0;
                    line-height: 30px;
                    color: $primary-dark;
                  }
                }
              }
            }
            & .extra-title {
              & h5 {
                font-size: 14px;
                color: $theme-color;
                margin: 15px 0 10px;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
  &__mobile-menu-btn {
    font-size: 20px;
    color: $white;
    margin: 0 10px 0 20px;
  }
}

/* side menu area start */

::ng-deep .side-mobile-menu {
  display: none;
  &__main {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      display: block;
      &:last-child {
        & a{
          border-bottom: none;
        }
      }
      & > a {
        padding: 13px 0;
        display: block;
        border-bottom: 1px solid rgba($color: $primary-dark, $alpha: .5);
        font-size: 16px;
        color: $primary-dark;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;

        &:hover {
          color: $theme-color;
          padding-left: 5px;
        }
      }

      & a[aria-expanded="true"] {
        color: $primary-dark;

        &:before {
          background: $primary-dark;
          border-color: $primary-dark;
        }
      }

      & ul {
        padding-left: 0;
        list-style: none;
        & li {
          padding-left: 15px;
          &:hover {
            > a {
              color: $theme-color;
              padding-left: 20px;
              &:before {
                background: $primary-dark;
                border-color: $primary-dark;
              }
            }
          }

          & a {
            position: relative;
            padding-left: 15px;
            text-transform: capitalize;
            font-size: 16px;

            &:before {
              content: "";
              width: 8px;
              height: 8px;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              border: 2px solid $primary-dark;
              border-radius: 50%;
            }
          }

          & a[aria-expanded="true"] {
            padding-left: 20px;
          }
        }
      }
    }

    & li.has-dropdown {
      & > a {
        &:after {
          position: absolute;
          content: "";
          width: 8px;
          height: 8px;
          border-width: 2px 0 0 2px;
          border-style: solid;
          border-color: initial;
          right: 16px;
          top: 50%;
          -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
          -webkit-transform-origin: top;
          transform-origin: top;
          transition: all .3s ease-out;
        }
      }

      & a[aria-expanded="true"] {
        &:after {
          -webkit-transform: rotate(-135deg) translateY(-50%);
          transform: rotate(-135deg) translateY(-50%);
        }
      }
    }
  }
}


.sticky {
  left: 0;
  margin: auto;
  position: fixed !important;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background-color: #1c1c1cf2 !important;
}