<div class="header">
  <div [ngClass]="['header__area', sticky ? 'sticky' : '']">
    <div class="header__content">
      <div class="header__content-logo">
        <a routerLink="/home">
          <img
            [src]="impactDisciplesInfo.logo"
            alt="logo"
            height="60px"
            width="65px"
            >
        </a>
      </div>
      <div class="header__content-main d-none d-lg-block">
        <app-nav-menu></app-nav-menu>
      </div>
      <div class="header__content-cart">
        <ul>
          <li>
            <a href="/shopping-cart" class="cursor-pointer"><i class="ion-bag"></i> Cart
              <span>({{ cartService.totalPriceQuantity().quantity }})</span>
            </a>
          </li>
          <li class="d-none d-lg-block"> <a class="cursor-pointer"><i class="far fa-bars"></i></a>
            <!-- extra info -->
              <app-extra-info></app-extra-info>
          </li>
        </ul>
      </div>
      <div class="header__mobile-menu-btn d-lg-none">
        <a (click)="utilsService.handleOpenMobileMenu()" (keydown.enter)="utilsService.handleOpenMobileMenu()" (keydown.space)="utilsService.handleOpenMobileMenu()" tabindex="0" role="button" class="mobile-menu-toggle cursor-pointer">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- mobile offcanvas start -->
<app-offcanvas></app-offcanvas>