<div class="home-header">
  <div class="left-section">
    <div class="left-section__title">Impact Discipleship Minitries</div>
    <div class="left-section__subtitle">We exist to inspire people and churches to be and build disciples of Jesus Christ.</div>
  </div>
  <div class="right-section">
    <div class="right-section__button-container">
      <dx-button class="right-section__button-container--button button-primary"><span>CHECK OUT OUR <strong> FREE RESOURCES!</strong></span><i class="dx-icon-chevronright"></i></dx-button>
      <dx-button class="right-section__button-container--button button-secondary"><span>REGISTER FOR AN EVENT</span><i class="dx-icon-chevronright"></i></dx-button>
    </div>
  </div>
</div>