<app-home-header></app-home-header>

<div class="podcasts">
  <app-header
    [backgroundUrl]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fpodcasts-header.PNG?alt=media&token=1c584f7d-abc1-44b9-8eab-6d88792d2eaa'"
    [pretitle]="'FREE ONLINE RESOURCES'"
    [title]="'The Disciple-Making Church Podcast'"
    [showHr]="true"
    [buttonText]="'YOUTUBE'"
    [buttonIcon]="'fab fa-youtube'"
    [buttonLink]="webConfig.youtube"
    [buttonText2]="'APPLE PODCASTS'"
    [buttonIcon2]="'fab fa-apple'"
    [buttonLink2]="webConfig.applePodCast"
    [buttonText3]="'FACEBOOK LIVE'"
    [buttonIcon3]="'fab fa-facebook-f'"
    [buttonLink3]="webConfig.facebookLive"
  ></app-header>
  <div class="podcasts__container">
    <app-podcast-sidebar [podcasts]="podcasts" (searchEvent)="searchPodcasts($event)" (clearFiltersEvent)="clearFilters()" (selectPodcast)="selectPodcast($event)"></app-podcast-sidebar>
    <div *ngIf="isListView" class="podcasts__container-list">
      <div *ngFor="let podcast of filteredPodcasts">
        <app-podcast-postbox-item [podcast]="podcast" (selectPodcast)="selectPodcast($event)"></app-podcast-postbox-item>
      </div>
    </div>
    <div *ngIf="selectedPodcast && !this.isListView" class="podcasts__container-selected">
      <h1>{{ selectedPodcast?.title }}</h1>
      <div class="video-wrapper">
        <youtube-player
          *ngIf="selectedPodcast?.videoType === 'Youtube'"
          [videoId]="selectedPodcast?.videoId"
          suggestedQuality="highres">
        </youtube-player>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
