.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Flaptop-desk-dark.PNG?alt=media&token=4bae9e73-b630-4369-b61c-99a422470bc6');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  &__left-box, &__right-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 600px;
    min-height: 650px;
  }

  &__left-box {
    transition: border-radius 0.3s ease;
    background: rgb(22 22 22 / 90%);
    color: #fff;

    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    &--logo-container {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 60px;
        width: 60px;
        margin-right: 10px;
      }

      .logo-image-header {
        font-weight: 200;
        font-size: 1.3em;
      }
    }

    &--header {
      margin: 10px 0;
      font-size: 3.2em;
      font-family: "Lato";
      font-weight: 300;
    }

    &--sub-header {
      font-size: 1.2em;
      font-family:'Lato';
      font-weight: 300;
      margin-bottom: 25px;
    }

    &--form {
      margin: 0 15px 10px;
      width: 100%;
    }

    &--button {
      display: flex;
      margin: 10px 15px;
      font-family: "Lato";
      font-size: 1.3em;
      font-weight: 500;
      width: 100%;
    }
  }

  &__right-box {
    transition: border-radius 0.3s ease;
    background: #fff;

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .event-info {
      &__title {
        font-size: 2.4em;
        font-weight: 300;
        margin: 0 15px 15px;
        strong {
          color: #ce9605;
          font-weight: 400;
        }
      }
      &__price {
        font-size: 2em;
        font-weight: 600;
      }
      &__description {
        margin: 25px 0;
      }
    }

    
    .event-location {
      margin: 25px 0;
    }
   
    .event-details {
      text-align: left;
      &__location {
        margin: 25px 0;
        .location-name {
          text-decoration: none;
          color: #ce9605;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}

.left-box-no-border-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-box-no-border-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
  .registration__container {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    & > div {
      flex: 1;
      margin: 0; /* Remove margins between boxes */
    }
  }

  .registration__left-box,
  .registration__right-box {
    width: 50%;
    margin: 0; /* Remove margins between boxes */
  }

  .registration__left-box {
    margin-right: -10px; /* Make boxes touch */
  }

  .registration__right-box {
    margin-left: -10px; /* Make boxes touch */
  }

}

@media (max-width: 767px) {
  .registration {
    height: auto;
    padding: 10px;
  }

  .registration__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    & > div {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .registration__left-box,
  .registration__right-box {
    height: auto;
  }
  .left-box-no-border-radius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .right-box-no-border-radius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}





// ::ng-deep .registration {
//   height: 100%;
//   background-image: url('https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Flaptop-desk-dark.PNG?alt=media&token=4bae9e73-b630-4369-b61c-99a422470bc6');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;

//   &__container {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;

//   }

//   &__left-box {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-align: center;
//     padding: 30px 20px;
//     background: rgb(22 22 22 / 80%);
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     color: #fff;
//     max-width: 700px;
//     height: auto;

//     &--container {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       height: 100%;
//     }

//     &--logo-container {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       img {
//         height: 40px;
//         width: 40px;
//         margin-right: 10px;
//       }
//       .logo-image-header {
//         font-weight: 200;
//         font-size: 13px;
//       }
//     }

//     &--header {
//       margin: 10px 0;
//       font-size: 30px;
//       font-family:'Lato';
//       font-weight: 300;
//     }

//     &--sub-header {
//       font-size: 13px;
//       font-family:'Lato';
//       font-weight: 300;
//       margin-bottom: 25px;
//     }

//     &--form {
//       margin: 0 15px 10px;
//     }

//     &--button {
//       display: flex;
//       margin: 10px 15px;
//       font-family: "Lato";
//       font-size: 15px;
//       font-weight: 500;
//     }
//   }

//   &__right-box {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-align: center;
//     padding: 30px 20px;
//     background: #fff;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     color: #000;
//     max-width: 700px;
//     height: auto;

//     &--container {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       height: 100%;
//     }

//     .event-title {
//       font-size: 45px;
//       font-weight: 300;
//       margin: 0 15px 15px;
//       strong {
//         color: #ce9605;
//         font-weight: 400;
//       }
//     }
//   }
// }

// .left-box-no-border-radius {
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .right-box-no-border-radius {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

::ng-deep .registration-custom-list-item {
  display: flex;
  align-items: center;

  .event-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
    .event-name {
      font-size: 14px;
      font-weight: 600;
      color: #ce9605;
    }
    .event-info {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      .event-date {
        margin-right: 5px;
      }
      .event-location {
        font-weight: 600;
      }
    }
  }
  
}

::ng-deep .dx-dropdowneditor-input-wrapper .registration-custom-list-item > img {
  padding-left: 8px;
}

::ng-deep .registration-custom-list-item > img {
  height: 40px;
  width: 60px;
}

// @media only screen and (max-width: 600px) {
//   .registration__right-box .event-title {
//     font-size: 30px;
//     font-weight: 300;
//     margin: 0 15px 15px;
//   }
// }

// @media only screen and (min-width: 600px) {
//   .registration__right-box .event-title {
//     font-size: 30px;
//     font-weight: 300;
//     margin: 0 15px 15px;
//   }
// }


// @media only screen and (min-width: 768px) {
//   .registration__right-box .event-title {
//     font-size: 35px;
//     font-weight: 300;
//     margin: 0 15px 15px;
//   }
// }


// @media only screen and (min-width: 992px) {
//   .registration__container {
//     flex-direction: row;
//     height: 100%;
//   }

//   .registration__left-box {
//     height: 100%;
//     max-height: 500px;
//   }
//   .left-box-no-border-radius {
//     border-bottom-right-radius: 0;
//     border-top-right-radius: 0;
//     border-bottom-left-radius: 10px;
//     border-top-left-radius: 10px;
//   }
  
//   .registration__right-box {
//     height: 100%;
//     max-height: 500px;
//   }
//   .registration__right-box .event-title {
//     font-size: 40px;
//     font-weight: 300;
//     margin: 0 15px 15px;
//   }
//   .right-box-no-border-radius {
//     border-bottom-left-radius: 0;
//     border-top-left-radius: 0;
//     border-bottom-right-radius: 10px;
//     border-top-right-radius: 10px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .registration__container {
//     flex-direction: row;
//     height: 100%;
//   }

//   .registration__left-box {
//     height: 100%;
//     max-height: 500px;
//   }
//   .left-box-no-border-radius {
//     border-bottom-right-radius: 0;
//     border-top-right-radius: 0;
//     border-bottom-left-radius: 10px;
//     border-top-left-radius: 10px;
//   }
  
//   .registration__right-box {
//     height: 100%;
//     max-height: 500px;
//   }
//   .registration__right-box .event-title {
//     font-size: 45px;
//     font-weight: 300;
//     margin: 0 15px 15px;
//   }
//   .right-box-no-border-radius {
//     border-bottom-left-radius: 0;
//     border-top-left-radius: 0;
//     border-bottom-right-radius: 10px;
//     border-top-right-radius: 10px;
//   }
// }

