@import '../../../../assets/theme/scss/variables';

::ng-deep .header-slider-container {
  .slider__content {
    text-align: left;
    white-space: break-spaces;
  }
  .dx-gallery-indicator {
    bottom: 30px;
  }
  .dx-gallery-indicator-item, .dx-gallery-indicator-item-selected {
    width: 20px;
    height: 20px;
  }
  .dx-gallery-indicator-item {
    border: $theme-color;
  }
  .dx-gallery-indicator-item-selected {
    background: $theme-color;
  }
  .dx-state-focused.dx-gallery .dx-gallery-indicator-item-selected {
    background: $theme-color;
  }

  .tl {
    position: absolute ;
    left: 30px;
    top: 30px;
  }

  .cl {
    position: absolute ;
    left: 30px;
    top: 30%;
  }

  .bl {
    position: absolute ;
    left: 30px;
    bottom: 30px;
  }

  .tc {
    position: absolute ;
    left: 30%;
    top: 30px;
  }

  .cc {
    position: absolute ;
    left: 30%;
    top: 30%;
  }

  .bc {
    position: absolute ;
    left: 30%;
    bottom: 30px;
  }

  .tr {
    position: absolute ;
    right: 30px;
    top: 30px;
  }

  .cr {
    position: absolute ;
    right: 30px;
    top: 30%;
  }

  .br {
    position: absolute ;
    right: 30px;
    bottom: 30px;
  }


}
