@use '../../../../assets/theme/scss/variables';

::ng-deep .header-slider-container {
  margin-bottom: 20px;
  .gallery {
    &__slide {
      height: calc(100vh - 100px);
      display: flex;
      align-items: center;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      // @media #{$laptop}{
      //   height: 450px;
      // }
      // @media #{$lg}{
      //   height: 400px;
      // }
      // @media #{$md}{
      //   height: 350px;
      // }
      // @media #{$xxs,$xs,$sm}{
      //   height: 325px;
      // }
      &-overlay {
        position: absolute;
        inset: 0;                
        background: rgba(0, 0, 0, 0.6); 
      }
      &-content {
        height: 100%;
        width: 50%;
        white-space: break-spaces;
        text-align: left;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media #{variables.$md}{
          width: 80%;
          padding: 10px 0 50px 30px;
        }
        @media #{variables.$sm,variables.$xs}{
          width: 100%;
        }
        @media #{variables.$xxs}{
          width: 100%;
          padding: 10px;
        }
        .title {
          font-weight: 900;
          font-size: 75px;
          color: #ffffff;
          font-family: "Poppins", sans-serif !important;
          letter-spacing: 2px;
          @media #{variables.$laptop}{
            font-size: 50px;
          }
          @media #{variables.$lg,variables.$md}{
            font-size: 45px;
          }
          @media #{variables.$sm}{
            font-size: 35px;
          }
          @media #{variables.$xxs,variables.$xs}{
            font-size: 20px;
          }
        }
        .text {
          color: #ffffff;
          font-size: 20px;
          @media #{variables.$laptop}{
            font-size: 15px;
          }
          @media #{variables.$lg,variables.$md}{
            font-size: 12px;
          }
          @media #{variables.$sm,variables.$xxs,variables.$xs}{
            display: none;
          }
        }
      }
    }
    .dx-gallery-indicator {
      bottom: 30px;
    }
    .dx-gallery-indicator-item, .dx-gallery-indicator-item-selected {
      width: 20px;
      height: 20px;
    }
    .dx-gallery-indicator-item {
      border: variables.$theme-color;
    }
    .dx-gallery-indicator-item-selected {
      background: variables.$theme-color;
    }
    .dx-state-focused.dx-gallery .dx-gallery-indicator-item-selected {
      background: variables.$theme-color;
    }

  }
}