<div class="header-slider-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      @for (galleryItem of images; track galleryItem) {
        <div
          class="swiper-slide gallery__slide"
          [style.backgroundImage]="'url('+galleryItem.image.url+')'">
          <div class="gallery__slide-overlay">
            <div class="gallery__slide-content">
              <h2 class="title " appAnimate="fadeInUp">{{galleryItem.title}}</h2>
              <hr appAnimate="fadeInLeftToRight" class="slider-hr">
              <p class="text" appAnimate="fadeInUpTwo">{{galleryItem.text}}</p>
              @if (galleryItem.ctaDestination !== 'external') {
                <a target="" appAnimate="fadeInUpThree" [routerLink]="galleryItem.ctaDestination" class="impact-btn">{{galleryItem.ctaTitle}}</a>
              }
              @if (galleryItem.ctaDestination === 'external') {
                <a target="none" appAnimate="fadeInUpThree" [href]="galleryItem.ctaUrl" class="impact-btn">{{galleryItem.ctaTitle}}</a>
              }
            </div>
          </div>
        </div>
      }
    </div>
    <div class="header-slider-pagination"></div>
  </div>
</div>
