@import '../../../../assets/theme/scss/variables';

.give {
  &__main {
    padding: 50px;
    @media #{$xxs,$xs} {
      padding: 10px;
    }
    .intro {
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      margin: 100px 0;
      @media #{$xxs,$xs} {
        font-size: 15px;
        line-height: 40px;
        margin: 30px 0 50px;
      }
    }
    .options {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      &__item {
        flex: 0 0 calc((100% - 40px) / 3);
        background-color: #1c1c1c;
        color: white;
        text-align: center;
        padding: 30px 20px;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        h3 {
          margin: 0;
          font-size: 30px;
          font-weight: 900;
          color: #ffffff;

        }

        p {
          font-size: 14px;
        }

        .large-icon {
          font-size: 60px;
          color: $theme-color;
        }
      }

      @media #{$sm,$xs,$xxs} {
        &__item {
          flex: 0 0 100%;
        }
      }
    }
    .mailto {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      color: #1c1c1c;
      &__content {
        background-color: #ffffff;
        padding: 50px 100px;
        text-align: center;
        @media #{$xxs,$xs} {
          background-color: transparent;
          padding: 0;
        }
        .title {
          font-weight: 700;
          font-size: 30px;
          margin-bottom: 30px;
        }
        .subtitle {
          font-size: 20px;
          font-weight: 600;
        }
        .address {
          font-size: 16px;
        }
      }
    }
  }
}

// .give {
//   &__container {
//     background-color: #ffffff;
//     padding: 20px;
//   }
//   &__header {
//     height: 480px;
//     &__pretitle {
//       color: #ffcc00;
//       font-size: 20px;
//     }
//     &__title {
//       font-size: 50px;
//       font-weight: 600;
//       color: #fff;
//     }
//     p {
//       color: #fff;
//       margin: 0;
//     }
//   }
//   .single-slider {
//     height: 400px;
//     hr {
//       background-image: linear-gradient(to right, transparent, #ffcc00);
//       height: 5px;
//       border: none;
//       outline: none;
//       position: relative;
//       width: 50%;
//       opacity: .8;
      
//       &:before {
//         position: absolute;
//         top: 1px;
//         left: 90%;
//         background: black;
//         color: white;
//         padding: 1em;
//         width: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }
//   &__gift-option {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-align: center;
//     align-items: center;
//     .buttons {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//     }
//   }
//   .box {
//     border: 1px solid black;
//     width: 100%;
//     min-height: 200px;
//     padding: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     .large-icon {
//       font-size: 40px;
//       margin: 25px 0;
//     }
//     .field-container {
//       display: flex;
//       flex-direction: column;
//       margin-bottom: 15px;
//     }
//   }
// }

.payment-form {
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease; 
  max-height: 0; /* Default hidden */
  opacity: 0;
  padding: 10px;
  visibility: hidden;
}

.payment-form.active {
  max-height: 520px; /* Expanded form */
  opacity: 1;
  visibility: visible;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  transition: opacity 0.6s ease;
}

.buttons.hidden {
  opacity: 0;
  visibility: hidden;
  display: none !important;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: $theme-color;
  cursor: pointer;
  display: block;
  margin-top: 50px;
}