<app-home-header></app-home-header>

<!-- GIVE -->
<div class="page-wrapper give">
  <main class="grey-bg">
    <div class="give__container container">
      <!--GIVE HEADER - SWIPER-->
      <section class="slider__area slider__area-4 p-relative">
        <div class="slider-active swiper-container" #heroSliderContainer >
          <div class="swiper-wrapper">
            <div class="give__header single-slider single-slider-2 slider__height-3 mt-10 d-flex align-items-center swiper-slide" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHeaders%2Fgive-header.PNG?alt=media&token=ae05b066-c061-4991-ba0d-189f37607431)'">
              <div class="row">
                <div class="col-xl-12">
                  <div class="slider__content slider__content-4 pr-50">
                    <h5 class="give__header__pretitle">YOUR SUPPORT</h5>
                    <h1 class="give__header__title w-50">Makes the Difference</h1>
                    <p>Meet the Impact Disciple-Making Team and learn more about who you are supporting</p>
                    <hr class="slider-hr">
                    <a href="/team" class="os-btn os-btn-white"><i class="fa fa-user-group mr-10"></i>MEET THE TEAM</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--GIVE - BUTTONS-->
      <section class="blog__area pb-70">
        <div class="row">
          <div class="col-xl-12">
            <div class="section__title-wrapper text-center mb-55">
              <div class="section__title mb-80 mt-70">
                <h2>Give</h2>
                <p>Your gift makes a difference in the lives of individual disciples, Disciple-Making Pastors, and Disciple-Making Churches all over the world. Consider partnering with us financially in one of the ways below.</p>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-4 give__gift-option">
                  <div class="box">
                    <h3>One-Time</h3>
                    <i class="large-icon fas fa-dollar-sign"></i>
                    <div class="buttons" [ngClass]="{'hidden': isFormVisible === 'oneTime'}">
                      <button class="impact-btn impact-btn-primary mb-10" (click)="togglePaymentForm('oneTime')">SEND DONATION</button>
                    </div>
                    <div *ngIf="isFormVisible === 'oneTime'" class="payment-form" [ngClass]="{'active': isFormVisible === 'oneTime'}">
                      <!-- Stripe payment form for One-Time -->
                      <div class="stripe-form">
                        <div class="field-container">
                          <label class="field-label">One-Time Amount</label>
                          <dx-number-box
                            [value]="oneTimeAmount"
                            [format]="{ type: 'currency', currency: 'USD', precision: 2 }"
                            placeholder="Enter amount">
                          </dx-number-box>
                        </div>
                        <form id="payment-form">
                          <div id="payment-element">
                            <!--Stripe.js injects the Payment Element-->
                          </div>
                          <div id="payment-message" class="hidden"></div>
                        </form>
                        <div *ngIf="loading">
                          <dx-load-indicator [visible]="true"></dx-load-indicator>
                        </div>
                        <button *ngIf="!loading" id="submit" class="os-btn os-btn-black pay-button mt-20" (click)="handleSubmit($event)">
                          <div class="spinner hidden" id="spinner"></div>
                          <span id="button-text">Pay now</span>
                        </button>
                      </div>
                      <button class="close-btn" (click)="togglePaymentForm('')">
                        <i class="fas fa-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 give__gift-option">
                  <div class="box">
                    <h3>Monthly</h3>
                    <i class="large-icon fas fa-calendar-days"></i>
                    <div class="buttons" [ngClass]="{'hidden': isFormVisible === 'monthly'}">
                      <button class="impact-btn impact-btn-primary mb-10" (click)="window.open('https://billing.stripe.com/p/login/test_6oEg0g8vh7vz5CoeUU', '_blank');">SEND DONATION</button>
                    </div>
                    <div *ngIf="isFormVisible === 'monthly'" class="payment-form" [ngClass]="{'active': isFormVisible === 'monthly'}">
                      <!-- Stripe payment form for Monthly -->
                      <div  class="stripe-form">
                        <div class="field-container">
                          <label class="field-label">Monthly Amount</label>
                          <dx-number-box
                            [value]="monthlyAmount"
                            [format]="{ type: 'currency', currency: 'USD', precision: 2 }"
                            placeholder="Enter amount">
                          </dx-number-box>
                        </div>
                        <form id="payment-form">
                          <div id="payment-element">
                            <!--Stripe.js injects the Payment Element-->
                          </div>
                          <div id="payment-message" class="hidden"></div>
                        </form>
                        <div *ngIf="loading">
                          <dx-load-indicator [visible]="true"></dx-load-indicator>
                        </div>
                        <button *ngIf="!loading" id="submit" class="os-btn os-btn-black pay-button mt-20" (click)="handleSubmit($event)">
                          <div class="spinner hidden" id="spinner"></div>
                          <span id="button-text">Pay now</span>
                        </button>
                      </div>
                      <button class="close-btn" (click)="togglePaymentForm('')">
                        <i class="fas fa-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 give__gift-option">
                  <div class="box">
                    <h3>Church Budget</h3>
                    <i class="large-icon fas fa-church"></i>
                    <p>Add Impact to your church’s budget and support world-wide missions and discipleship.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page__title p-relative d-flex justify-content-center align-items-center" [style.background-image]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FShared%2Fyellow-world-banner.PNG?alt=media&token=a2f4b0e2-dacb-4101-b6f6-8de82c5de4dc)'">
        <div class="row justify-content-center">
          <div class="col-xl-12 text-center bg-white pt-60 pb-60 pr-80 pl-80">
            <h1 class="mb-30"><strong>Mail Donations by Check To:</strong></h1>
            <h3><strong>Impact Discipleship Ministries</strong></h3>
            <h4>{{ impactDisciplesInfo.address }}</h4>
          </div>
        </div>
      </section>

    </div>
  </main>
</div>

<app-footer></app-footer>
