<ul class="extra-info">
  <li>
    <div class="my-account">
      <div *ngIf="isLoggedIn" class="extra-title">
        <h5>My Account</h5>
      </div>
      <ul>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/checkout">Checkout</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/account">Account</a></li>
        <li *ngIf="isLoggedIn"><a (click)="authService.logOut()">Logout</a></li>
        <li *ngIf="!isLoggedIn"><a [routerLink]="['/create-auth-form']">Create Account</a></li>
        <li *ngIf="!isLoggedIn"><a [routerLink]="['/capture-username-form']">Login</a></li>
      </ul>
    </div>
</ul>
