<ul class="extra-info">
  <li>
    <div class="my-account">
      <div class="extra-title">
        <h5>My Account</h5>
      </div>
      <ul>
        <li><a routerLink="/shop/cart">Cart</a></li>
        <li><a routerLink="/shop/checkout">Checkout</a></li>
        <li><a routerLink="/shop/register">Create Account</a></li>
        <li><a routerLink="/shop/account">Account</a></li>
        <li><a (click)="authService.logOut()">Logout</a></li>
        <!-- TODO: Add login button -->
      </ul>
    </div>
</ul>
