<ul class="extra-info">
  <li>
    <div class="my-account">
      @if (isLoggedIn) {
        <div class="extra-title">
          <h5>Account: {{user.firstName + ' ' + user.lastName}}</h5>
        </div>
      }
      <ul class="extra-info-items">
        @if (isLoggedIn) {
          <li><a routerLink="/profile">Profile</a></li>
        }
        <!-- <li *ngIf="isLoggedIn"><a (click)="authService.logOut()">Logout</a></li> -->
        @if (!isLoggedIn) {
          <li><a [routerLink]="['/create-auth-form']">Create Account</a></li>
        }
        @if (!isLoggedIn) {
          <li><a [routerLink]="['/capture-username-form']">Login</a></li>
        }
      </ul>
    </div>
  </ul>
