<app-home-header></app-home-header>

<main class="checkout-success">
  <section class="checkout-success__success-text p-relative d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-inner text-center">
            <h1>Thank You</h1>
            <h2>Your order was completed successfully!</h2>
            <span class="checkout-success__email-text mt-40 mb-40">
              <p>An email receipt and details about your order have been sent to the email address provided.</p>
            </span>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="page__title-inner text-center">
            <span class="checkout-success__email-text mt-40 mb-40">
              <p>If your order contains EBooks, check your receipt for the download links.</p>
            </span>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="page__title-inner">
            <span class="checkout-success__email-text mt-40 mb-40">
              <p>If your order contains Digital Book access, your receipt will contain instructions on downloading and installing the Impact Digital Library.</p>
            </span>
          </div>
        </div>

        <div class="col-xl-12 text-center mt-40 pb-60">
          <a routerLink="/store" class="os-btn os-btn-black">Continue Shopping</a>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
<app-cart-drawer></app-cart-drawer>
