@import '../../../../assets/theme/scss/variables';

.dms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 200px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 0;
  @media #{$xxs,$xs} {
    height: 175px;
    margin-top: 15px;
  }
  &__overlay {
    position: absolute;
    inset: 0;                
    background: rgba(0, 0, 0, 0.8); 
    pointer-events: none;
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 20px;
    @media #{$xxs,$xs,$sm} {
      flex-direction: column;
      padding: 0 10px;
    }
    @media #{$md} {
      padding: 0 34px;
    }
  }
  &__title {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media #{$xxs,$xs,$sm} {
      flex: 1;
      justify-content: end;
      margin-top: 10px;
      text-align: center;
    }
    @media #{$md} {
      text-align: center;
    }
    h2 {
      font-size: 33px;
      font-weight: 900;
      color: #ffffff;
      letter-spacing: 2px;
      @media #{$xxs,$xs} {
        font-size: 18px;
        margin: 0;
      }
      @media #{$sm,$md} {
        font-size: 30px;
        margin: 0;
      }
      span {
        color: $theme-color-2;
      }
    }
  }
  &__countdown {
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    align-items: flex-end;
    color: #fff;

    .time-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
      @media #{$xxs,$xs,$sm} {
        margin: 0px 10px;
      }

      .number {
        font-size: 45px; 
        font-weight: 800;
        @media #{$xxs,$xs} {
          font-size: 20px;
        }
        @media #{$sm} {
          font-size: 28px;
        }
        @media #{$md} {
          font-size: 30px;
        }
      }

      .label {
        font-size: 10px;
        margin-top: 10px;
        font-weight: 600;
        @media #{$xxs,$xs,$sm} {
          font-size: 8px;
          margin-top: 0px;
        }
      }
    }

    .colon {
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 35px;
      @media #{$xxs,$xs,$sm} {
        font-size: 30px;
        margin-bottom: 24px;
      }
    }
  }
  &__button {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    @media #{$xxs,$xs,$sm} {
      flex: 1;
      width: 80%;
      margin-top: 10px;
    }
    @media #{$md} {
      margin-left: 25px;
    }
    .impact-btn {
      background-color: $theme-color-2;
    }
  }
}
