<app-home-header></app-home-header>

<div id="payment-message"></div>

<main class="checkout-success">
  <!-- checkout success header -->
  <section class="checkout-success__header p-relative d-flex align-items-center"></section>

  <!-- checkout success text -->
  <section class="checkout-success__success-text p-relative d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-inner text-center">
            <h1>Thank You</h1>
            <h2>Your ticket order was completed successfully!</h2>
            <span class="checkout-success__email-text mt-80 mb-80">
              <img src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Femail-sent-icon.PNG?alt=media&token=7435091a-374a-482a-87af-f11e04ecdc29" height="70px">
              <p>An email receipt and details about your order have been sent to the email address provided</p>
            </span>
            <span>If you have an account with us, you can view the event details on the <strong><a href="#">User Events</a></strong> page. If you have not yet created an account, you will find a link in the email receipt with instructions on how to connect your ticket to your new account!</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
