@import '../../../../assets/theme/scss/variables';

.events {
  &__container {
    background-color: #ffffff;
    padding: 20px;
  }
  &__slider {
    padding: 0 50px;
  }
  &__header {
    &-title {
      font-size: 50px;
      color: #ffffff;
    }
    &-subtitle {
      font-size: 25px;
      color: #ffffff;
    }
    &-button {
      background-color: #00000080;
    }
  }

  &__DMS {
    width: 100%;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .events-list {
    &__event {
      margin-bottom: 50px;
      padding: 20px;
      a:hover {
        cursor: pointer;
      }
    }
    &__content {
      h4 {
        margin-top: 15px;
        font-size: 18px;
      }
      &-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3em; 
        line-height: 1.5em;
      }

    }
  }
}

.countdown-timer {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;

  .time-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    .number {
      font-size: 4rem; 
      font-weight: bold;
    }

    .label {
      font-size: 1rem;
      margin-top: 25px;
    }
  }

  .colon {
    font-size: 4rem;
    font-weight: bold;
  }
}



.slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 calc(100% / 4);
  box-sizing: border-box;
  padding: 0 5px; 
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .slide {
    flex: 0 0 calc(100% / 2); 
  }
  button.prev, button.next {
    font-size: 18px;
    padding: 8px;
  }
}
