<app-home-header></app-home-header>

<!-- HISTORY -->
<main class="history">

  <!-- HISTORY HEADER -->
  <section class="slider__area p-relative">
    <div class="slider-active swiper-container" #heroSliderContainer>
      <div class="swiper-wrapper">
        <div class="single-slider slider__height d-flex align-items-center swiper-slide" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fhistory-header.PNG?alt=media&token=f328e316-bb79-493c-9dcf-3355141c72a9)'">
          <div class="container h-100 d-flex justify-content-center">
            <h2 class="history-header__title">OUR HISTORY</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- HISTORY TIMELINE -->
  <div class="history-section banner__area">
    <div class="container-xxl">
      <div class="banner__inner p-relative z-index-1 pt-50">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-5 col-lg-5 d-flex history-section__text-area z-index-1">
            <div class="history-section__title mb-10">
              <h4>OUR <strong> MISSION</strong></h4>
              <hr class="custom-hr">
            </div>
            <p><strong>Impact Discipleship Ministries exists to inspire people and churches to be and build disciples of Jesus Christ.</strong></p>
            <p>We provide disciple making resources, training, and consultations. We help people explore the concepts of disciple making, we educate people and churches in the principles of disciple making, we assist people and churches to establish disciple-making movements, and engage individuals and churches in developing movements of multiplication.</p>
          </div>
          <div class="col-xl-5 col-lg-5">
            <div class="video__area-df" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fmap.jpg?alt=media&token=69c71f2a-3c1b-4745-a1bc-362e4cbf29aa)">
              <div class="container">
                <div class="video__content text-center">
                  <div class="video__button mb-30">
                    <a (click)="utilsService.playVideo('HxKSa24hF60')" class="cursor-pointer">
                      <i class="fas fa-play"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="light-hr z-index-1 p-relative">

        <div class="text-overlay">
          <span class="large-text">1989</span>
          <span class="small-text">1989</span>
        </div>

        <div class="timeline">
          <div class="timeline-dot"></div>
          <div class="timeline-section row">
            <div class="timeline-item left col-lg-5 mr-60">
              <div class="timeline-content">
                <p>Ken Adams was called as the first pastor of Crossroads Church in Newnan, Georgia in 1989. He was passionate about the Great Commission and wanted his church to be a part of the movement and mission of Jesus. Ken wanted everything at Crossroads to revolve around being and building disciples of Jesus.</p>
              </div>
            </div>
            <div class="col-lg-5 ml-60">
              <img class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fhistory-1.jpg?alt=media&token=da19bd0b-0761-438c-8b5c-69a9a58bf846" alt="Image 1">
            </div>
          </div>
          
          <div class="timeline-section row">
            <div class="col-lg-5 mr-60">
              <img class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fhistory-2.PNG?alt=media&token=bab064a3-c9c4-4da8-8411-a9531a2f03f6" alt="Image 2">
            </div>
            <div class="timeline-item right col-lg-5 ml-60">
              <div class="timeline-content">
                <p>In the early 1990s, Crossroads was well on its way multiplying disciples, but the church was having a major problem finding resources that would accomplish its mission. While a lot of resources provided insight on how to have a discipleship program in a church, there were few resources that taught how to build a church that entirely revolved around a Jesus-style strategy for disciple making.</p>
              </div>
            </div>         
          </div>
        
          <div class="timeline-section row">
            <div class="timeline-item left col-lg-5 mr-60">
              <div class="timeline-content">
                <p>Out of this need, Ken began writing his own curriculum for Crossroads. He emphasized important topics in his writing like how to define a disciple, how to train a disciple, how to multiply disciples, and how to create church and small group environments that multiply disciples. Ken’s curriculum was a huge hit with the Crossroads, and pretty soon, disciples and small groups were multiplying exponentially in the church.</p>
              </div>
            </div>
            <div class="col-lg-5 ml-60">
              <img class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fken-speaking-1.PNG?alt=media&token=a2165748-a853-4dcc-8315-48ce9b3a6d15" alt="Image 3">
            </div>
          </div>
        
          <div class="timeline-section row">
            <div class="col-lg-5 mr-60">
              <img class="timeline-img" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fevent-large-group.PNG?alt=media&token=d12142cd-6902-4de2-a160-1550b6cfd812" alt="Image 4">
            </div>
            <div class="timeline-item right col-lg-5 ml-60">
              <div class="timeline-content">
                <p>Under Ken’s leadership, Crossroads has grown to 3,000+ in attendance, meets on three campuses, and has planted eight other churches as of 2020.
                  In 2001, Ken decided to make his resources available to other churches. He founded Impact Discipleship Ministries as a non-profit of Crossroads Church specifically for the purpose of providing disciple making resources and training.
                  Today, Impact Discipleship Ministries serves pastors, churches, and individuals all over the world. 
                  </p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-overlay">
          <span class="large-text">2019</span>
          <span class="small-text">2019</span>
        </div>
      </div>
    </div>
  </div>

  <!-- COUNTRIES SERVED BANNER -->
  <section class="countries-banner page__title p-relative d-flex align-items-center mt-80 mb-80" [style.background-image]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Fyellow-world-banner.PNG?alt=media&token=82459d72-cfa0-4294-adba-d9dfdd336b7f)'">
    <div class="row justify-content-center">
      <div class="col-xl-5 countries-banner__left">
        <h1><strong>15</strong></h1>
        <h3>Countries with <br> Disciple-Making <br> Churches</h3>
      </div>
      <div class="col-xl-5 countries-banner__right">
        <h3><strong>Impact works with churches, pastors, and individuals all over the world to be and build disciples of Jesus.</strong></h3>
        <h5>We currently have Disciple Making Church partners in the <strong>United States, Montenegro, Brazil, Dominican Republic, Haiti, the Philippines, Zambia, India, Thailand, Kosovo, Albania, Serbia, Italy, Cambodia</strong>, and closed countries that will not be listed here for safety purposes.</h5>
      </div>
    </div>
  </section>
  

</main>

<app-footer></app-footer>