@import "swiper/css/bundle";
@import './assets/theme/css/fontAwesome5Pro.css';
@import './assets/theme/css/ionicons.min.css';
@import './assets/theme/css/animate.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/theme/scss/main.scss';
@import './assets/theme/scss/variables';


//GLOBAL STYLES

html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
	// background-color: #1c1c1c;
	background-color: #f7f7f7;
}

.toolbar-label,
.toolbar-label > b {
  padding-left: 10px;
  font-size: 16px;
}

.toolbar {
  padding-top: 10px;
}

.dx-popup-wrapper>.dx-overlay-content {
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif !important;
}
main {
  padding-top: 82.3px;
}

@media #{$xxs,$xs,$sm} {
  main {
    padding-top: 182.3px !important;
  }
}


//animations

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInUpTwo {
  animation-name: fadeInUp;
  animation-duration: 1s;
	animation-delay: 0.3s;
  animation-fill-mode: both;
}
.fadeInUpThree {
  animation-name: fadeInUp;
  animation-duration: 1s;
	animation-delay: 0.5s;
  animation-fill-mode: both;
}
.fadeInUpFour {
  animation-name: fadeInUp;
  animation-duration: 1s;
	animation-delay: 0.7s;
  animation-fill-mode: both;
}
.fadeInUpFive {
  animation-name: fadeInUp;
  animation-duration: 1s;
	animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeftToRight {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.fadeInLeftToRight {
  animation: fadeInLeftToRight 2s ease-out forwards;
}

@keyframes fadeInRightToLeft {
  0% {
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.fadeInRightToLeft {
	animation: fadeInRightToLeft 2s ease-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

	50% {
    opacity: 0.5;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  display: inline-block;
  animation: fadeInDown 1s linear forwards;
}


//buttons
.impact-btn {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	height: 50px;
	line-height: 46px;
	padding: 0 42px;
	border: 2px solid $white;
	color: $white;
	background: transparent;
	z-index: 1;
	font-size: 12px;
	width: fit-content;
	align-items: center;
	cursor: pointer;
	@media #{$xxs, $xs}{
		width: 100% !important;
		height: 30px !important;
    line-height: 30px !important;
		padding: 0 10px;
		font-size: 10px;
	}
	@media #{$sm}{
		width: 100% !important;
		height: 35px !important;
		line-height: 35px !important;
		padding: 0 10px;
		font-size: 12px;
	}
	@media #{$md}{
		height: 40px;
    padding: 0 30px;
    line-height: 38px;
    width: 100%;		
	}
	.dx-button-content {
		display: flex;
		justify-content: center;
	}
	& span{
		color: $theme-color;
	}
	&::after{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $theme-color;
		z-index: -1;
	}
	&:hover{
		color: $white;
		border-color: $theme-color;
		&::after{
			height: 100%;
		}
		& span{
			color: $white;
		}
	}
  &-primary {
		color: $white;
		background-color: $theme-color;
		border-color: $theme-color;
		&::after{
			background-color: $white;
		}
		&:hover{
			border-color: $white;
		}
    & span{
      color: $theme-color;
    }
	}
  &-dark {
		color: $white;
		background-color: $primary-dark;
		border-color: $primary-dark;
		&::after{
			background-color: $white;
		}
		&:hover{
			border-color: $white;
		}
    & span{
      color: $primary-dark;
    }
	}
	&-white {
		color: $primary-dark;
		background-color: $white;
		border-color: $white;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
    & span{
      color: $white;
    }
	}
	&-primary-border {
		color: $theme-color;
		background-color: transparent;
		border-color: $theme-color;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
    & span{
      color: $white;
    }
	}
	&-dark-border {
		color: $primary-dark;
		background-color: transparent;
		border-color: $primary-dark;
		&::after{
			background-color: $white;
		}
		&:hover{
			border-color: $white;
		}
    & span{
      color: $primary-dark;
    }
	}

}

.impact-icon-btn {
	background: transparent;
	position: relative;
	z-index: 1;
	border: 2px solid #ebebeb;
	color: $black-2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	line-height: 46px;
  padding: 0 20px;
	i {
		font-size: 20px;
		margin-right: 10px;
	}
	cursor: pointer;
	.dx-button-content {
		display: flex;
		justify-content: center;
	}
	@media #{$xxs, $xs}{
		width: 100% !important;
		height: 30px !important;
    line-height: 30px !important;
		padding: 0 10px;
		font-size: 10px;
		i {
			font-size: 10px;
		}
	}
	&::after{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $theme-color;
		z-index: -1;
	}
	&:hover{
		color: $white;
		border-color: $theme-color;
		&::after{
			height: 100%;
		}
		& span{
			color: $white;
		}
		i {
			color: $white;
		}
	}
	&:focus {
		i {
			color: $white;
		}
	}
	&-no-border {
		color: $black-2;
		background-color: $white;
		border-color: transparent;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
	}
	&-dark-bg{
		color: $white;
		background-color: $black-2;
		border-color: $black-2;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
		.dx-icon {
			color: $white;
		}
	}
	&-dark-border{
		color: $black-2;
		background-color: $white;
		border-color: $black-2;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
	}
}

//lines
.slider-hr {
  background-image: linear-gradient(to right, transparent, #ffcc00);
  height: 5px;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  opacity: .8;

  &:before {
    position: absolute;
    top: 1px;
    left: 90%;
    background: black;
    color: white;
    padding: 1em;
    width: 50%;
    transform: translate(-50%, -50%);
  }

}

.slider-hr-large {
  background-image: linear-gradient(to right, transparent, #ffcc00);
  height: 10px;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  opacity: .8;

  &:before {
    position: absolute;
    top: 1px;
    left: 90%;
    background: black;
    color: white;
    padding: 1em;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.slider-hr-solid {
	width: 200px;
	border: 0;
	border-top: 6px solid $theme-color;
	opacity: 1;
}

.solid-line {
	border-top: 10px solid #ffcc00;
  opacity: 1;
}



//title
.slider-small-pretitle {
	color: #ffcc00;
	font-size: 20px;
	@media #{$xxs,$xs} {
		font-size: 14px;
	}
}

.slider-pretitle {
	color: #ffcc00;
	font-size: 25px;
	@media #{$xxs,$xs} {
		font-size: 18px;
	}
}

.slider-title {
	font-size: 80px;
	font-weight: 600;
	@media #{$xxs,$xs} {
		font-size: 60px;
	}
}

.slider-medium-title {
	font-size: 50px;
	font-weight: 600;
	@media #{$xxs,$xs} {
		font-size: 30px;
	}
	&-white {
		color: $white;
		@media #{$xxs,$xs} {
			font-size: 30px;
		}
	}
}

.slider-subtitle {
	font-size: 16px;
	@media #{$xxs,$xs} {
		font-size: 14px;
	}
}

.title-large {
	font-size: 100px;
	@media #{$xxs,$xs} {
		font-size: 70px;
	}
}

.title-xl {
	font-size: 120px;
	@media #{$xxs,$xs} {
		font-size: 65px;
	}
}


//other
.coming-soon-box {
	background-color: #f5f5f5;
	padding: 50px;
}

