<section class="breadcrumb page__title p-relative d-flex align-items-center" [style.background-color]="bgColor" [style.background-image]="'url('+bgImg+')'" [ngClass]="{'text-white': isDark}">
  <div class="breadcrumb__container-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page__title-inner text-center" [ngClass]="{'text-white': isDark}">
            <h1 [ngClass]="{'text-white': isDark}">{{ currentPageName }}</h1>
            <div class="page__title-breadcrumb" [ngClass]="{'text-white': isDark}">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center" [ngClass]="{'text-white': isDark}">
                  <li class="breadcrumb-item" [ngClass]="{'text-white': isDark}">
                    <a *ngIf="previousLinkId" [routerLink]="[previousLink, previousLinkId]" [ngClass]="{'text-white': isDark}">
                      {{ previousLinkName }}
                    </a>
                    <a *ngIf="!previousLinkId" [routerLink]="previousLink" [ngClass]="{'text-white': isDark}">
                      {{ previousLinkName }}
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page" [ngClass]="{'text-white': isDark}">
                    {{ currentPageName }}
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>