@use '../../../../assets/theme/scss/variables';

.prayer-team {
  &__container {
    background-color: #ffffff;
    padding: 20px;
  }
  &__header {
    height: 480px;
  }
  &__form {
    flex-direction: column;
  }
}