<app-home-header></app-home-header>
<div class="equipping-groups">
  <app-header
    [backgroundUrl]="'https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FHome%2Fhome-header.jpg?alt=media&token=4a6de836-e6fc-4c12-9e2a-e8c063ffdcc3'"
    [pretitle]="'ONLINE EQUIPPING GROUPS'"
    [title]="'Making of a Disciple-Maker'"
  ></app-header>
  <div class="equipping-groups__approach">
    <div class="content">
      <h4 animate="fadeInUp" class="content__title mb-10">OUR APPROACH TO <strong>EQUIPPING</strong></h4>
      <div animate="fadeInUpTwo">
        <p>
          <b>Impact Discipleship Equipping Groups</b> are designed to help pastors and church leaders rediscover and live out Jesus’ original vision for the church—a movement of multiplying disciples.
        </p>
        <p>
          Drawing from over 30 years of real-life ministry experience, these small-group learning environments invite leaders to study the life and methods of Jesus alongside other like-minded pastors and leaders.
        </p>
        <p>
          Through short videos, focused articles, and live Zoom discussions, each equipping group provides practical, biblical insight you can immediately apply in your local church.
        </p>
        <p>
          It’s a simple investment that produces lasting impact—helping you lead, build, and multiply disciples the way Jesus intended.
        </p>
      </div>
    </div>
    <div class="video">
      <div
        *ngIf="!isPlaying"
        class="video__container"
        style="background-image: url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FContent%2FGENERIC%20EQUPPING%20GROUP%20PHOTO.png?alt=media&token=b4e0ab45-0a02-45b3-9f2b-464fae27f7fa)"
      >
        <div class="container">
          <div class="video__content text-center">
            <div class="video__button">
              <a (click)="playVideo()" class="cursor-pointer">
                <i class="fas fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isPlaying" class="video__container">
        <div class="video__player-wrapper">
          <youtube-player
            [videoId]="'q-NGIqAAupg'"
            [playerVars]="{ autoplay: 1 }"
            class="video__player"
          ></youtube-player>
        </div>
      </div>
    </div>
  </div>
  <div class="equipping-groups__about">
    <h1 animate="fadeInUp">Impact Discipleship offers three Equipping Group courses.</h1>
    <div class="content__center" style="display: flex; justify-content: center;">
      <div class="mt-10" style="width: 50%;">
        <div class="row align-items-center pb-10">
          <div class="col-4 align-items-start">
              <a [href]="'/equipping-groups-churches'" class="impact-btn-outlined">
                Disciple-Making Church
              </a>
          </div>
          <div class="col-8">
            Designed for churches ready to move from good intentions to intentional disciple-making. This equipping group helps pastors and key leaders align their church around a shared mission, model, and practical pathway to build a sustainable disciple-making culture—together.
          </div>
        </div>
        <div class="row align-items-center pb-20">
          <div class="col-4">
              <a [href]="'/equipping-groups-pastors'" class="impact-btn-outlined">
                Disciple-Making Pastor
              </a>
          </div>
          <div class="col-8">
            Created specifically for pastors who want to lead with greater clarity, confidence, and multiplication. Rooted in 30+ years of real-world experience, this equipping group focuses on the six priorities every Disciple-Making Pastor must embrace to lead their congregation toward a movement of disciples who make disciples.
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-4">
              <a [href]="'/equipping-groups-leaders'" class="impact-btn-outlined">
                Disciple-Making Leader &nbsp;
              </a>
          </div>
          <div class="col-8">
            Built for everyday leaders who want to live out and lead the mission of making disciples in their ministry context. This equipping group focuses on personal spiritual growth, practical disciple-making tools, and faithfulness over the long haul—no formal ministry role required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-consulation-banner></app-consulation-banner>
</div>
<app-footer></app-footer>
