<section class="footer__area dark-soft-bg">
  <div class="footer__top pt-100 pb-50" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Standard-Web-Images%2Ffooter.PNG?alt=media&token=27ac8955-1841-47b3-80c9-8b643535464c)'">
    <div class="container custom-container-3">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-10">
              <a routerLink="/home">
                Impact Discipleship Ministries
              </a>
            </div>
            <div class="footer__title-links mb-25">
              <a href="#">Give </a><span>|</span><a href="#"> Join the Prayer Team</a>
            </div>
            <div class="footer__widget-content">
              <p>&#64;2024 Ken Adams All Right reserved.</p>
                <div class="footer__contact">
                  <ul>
                    <li>
                      <div class="icon">
                        <i class="fal fa-map-marker-alt"></i>
                      </div>
                      <div class="text">
                        <span>Address: {{ impactDisciplesInfo.address }}</span>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fal fa-envelope-open-text"></i>
                      </div>
                      <div class="text">
                        <span>Email: {{ impactDisciplesInfo.email }}</span>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fal fa-phone-alt"></i>
                      </div>
                      <div class="text">
                        <span>Phone Number: {{ impactDisciplesInfo.phone }}</span>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title">
              <h5>Information</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/events">Events</a></li>
                  <li><a href="/shop">Shop</a></li>
                  <li><a href="/private-policy">Privacy Policy</a></li>
                  <li><a href="/terms">Terms & Condition</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <h5>Training</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="/seminars">Seminars</a></li>
                  <li><a href="/equipping-groups">Equipping Groups</a></li>
                  <li><a href="/coaching-with-impact">Coaching with Impact</a></li>
                  <li><a href="/lunch-and-learns">Lunch and Learns</a></li>
                  <li><a href="/terms">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <h5>Free Resources</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a href="/e-books">E-Books</a></li>
                  <li><a href="/podcasts">Podcasts</a></li>
                  <li><a href="/blog">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-6 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title mb-25">
              <h5>newsletter</h5>
            </div>
            <div class="footer__widget-content">
              <p>Join over 1,000 people who get free and fresh content delivered automatically each time we publish.</p>
              <!-- TODO: Set up subscription form -->
              <div class="form-group">
                <form (ngSubmit)="handleFormSubmit()">
                  <input required type="name" name="firstName" class="form-control" [(ngModel)]="subscription.firstName" placeholder="First Name">
                  <input required type="name" name="lastName" class="form-control" [(ngModel)]="subscription.lastName" placeholder="Last Name">
                  <input required type="email" name="email" class="form-control" [(ngModel)]="subscription.email" placeholder="Email">
                  <button class="ss-btn btnNewsletter" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom footer__bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-8">
          <div class="footer__copyright footer__copyright-3">
            <p>Copyright © <a routerLink="/home/home-style-1" class="link">Outstock</a> all rights reserved. Powered by <a routerLink="/home/home-style-1" class="link">Theme_pure</a></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="footer__social f-right">
            <ul>
              <li *ngIf="impactDisciplesInfo.facebook">
                <a [href]="impactDisciplesInfo.facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li *ngIf="impactDisciplesInfo.twitter">
                <a [href]="impactDisciplesInfo.twitter" target="_blank"><i class="fab fa-twitter"></i></a>
              </li>
              <li *ngIf="impactDisciplesInfo.youtube">
                <a [href]="impactDisciplesInfo.youtube" target="_blank"><i class="fab fa-youtube"></i></a>
              </li>
              <li *ngIf="impactDisciplesInfo.linkedin">
                <a [href]="impactDisciplesInfo.linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li *ngIf="impactDisciplesInfo.instagram">
                <a [href]="impactDisciplesInfo.instagram" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
