@use '../../../assets/styles/variables.scss';

.footer {
  &__top {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__widget-title {
    font-size: 45px;
    line-height: 1;
    @media #{variables.$xxs} {
      font-size: 34px;
    }
  }
  &__title-links {
    span {
      margin: 0 5px;
    }
  }
}