<div class="sidebar">
  <div class="sidebar__search">
    <form (submit)="onSearch(searchInput.value)">
      <input
        type="text"
        #searchInput
        placeholder="Search..."
        (input)="onSearchInputChange(searchInput.value)"
        />
        <button type="submit"><i class="far fa-search"></i></button>
      </form>
    </div>
    <div class="sidebar__accordion">
      <div class="sidebar__accordion-header">
        <h3>Product Categories</h3>
        <button type="button" class="clear-filter-button" (click)="onViewAllProducts()">View All</button>
      </div>
      <div class="sidebar__accordion-content">
        <div class="accordion">
          @for (item of categoryWithProducts; track item; let i = $index) {
            <div class="accordion-item" [class.accordion-item--opened]="openIndex === i">
              <button
                type="button"
                class="accordion-item__title"
                [class.accordion-item__title--opened]="openIndex === i"
                (click)="toggleIndex(i)">
                <span class="accordion__header">{{ item?.category?.tag }}</span>
                <i class="fas" [class.fa-chevron-up]="openIndex === i" [class.fa-chevron-down]="openIndex !== i"></i>
              </button>
              @if (openIndex === i) {
                <div class="accordion-item__body">
                  <div class="accordion__tags-container">
                    @for (product of item?.displayProducts; track product) {
                      <button
                        type="button"
                        (click)="onItemClick(product?.id)">
                        {{ product?.title }}
                      </button>
                    }
                    @if (item?.products?.length > 10) {
                      <span class="product">... and more!</span>
                    }
                    <button
                      type="button"
                      class="view-all"
                      (click)="onCategoryClick(item?.category)">
                      VIEW ALL
                    </button>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
